
<div class="howitworks">
  <h4><strong>General Questions</strong></h4>
  <div class="faqquationre"><strong>Q. How much can I borrow?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> You can borrow between anywhere between ₹ 25,000 and ₹ 5,00,000.
  </p>
  <div class="faqquationre"><strong>Q. Over what time frame can I borrow?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> You can borrow between a minimum of 1 month and a maximum of 36 months.
  </p>
  <div class="faqquationre"><strong>Q. Can I repay my loan early if I like?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Yes, you may repay and close the loan early. RealTimeMoney does not charge a prepayment penalty whereas, banks charge a prepayment fee in the range of 2-4%.
  </p>
  <div class="faqquationre"><strong>Q. What rates can I expect to pay?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Interest rates depend on the credentials of Borrowers and the ongoing demand of Lenders in the RealTimeMoney marketplace. They can only be finalized once the concerned Borrower and Lender agree mutually on a rate.
  </p>
  <div class="faqquationre"><strong>Q. How does RealTimeMoney check my creditworthiness?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> RealTimeMoney conducts a strict verification process of the data and documents provided by Borrowers. In addition, we appraise each request to ensure that the creditworthiness of Borrowers meets market standards. However, we expect each individual Lender to be the ultimate judge of the creditworthiness of a Borrower.
  </p>
  <div class="faqquationre"><strong>Q. Why was my loan listing declined?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Your loan listings may have been declined if the verification process for your application failed.
  </p>
  <div class="faqquationre"><strong>Q. What happens in case of delayed or non-payment of EMI?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> In case the EMI is not paid by the due date, an additional penal interest of 24% per annum will be applied to the amount due for the duration of delay which Borrowers will be liable to pay their Lender(s). In a worst-case scenario, RealTimeMoney will facilitate the collections through empanelled arbitrators and collection agencies. These are reputed collection agencies that are empanelled by any bank and financial institutions. This also includes legal process for recovery of funds if required.
  </p>
  <div class="faqquationre"><strong>Q. I have defaulted on loan payments before, or Banks/Financial Institutions have rejected my loan application. Can I borrow on RealTimeMoney?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> No, unfortunately RealTimeMoney will not approve of your loan listing if you do not meet with our credit and verification standards. However, you can work on improving your credit history by repaying your debt and making future payments to your creditors on time and then try to a list a new loan once your creditworthiness improves.
  </p>
  <div class="faqquationre"><strong>Q. How are repayments calculated?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Repayments are equated monthly instalments calculated using the reducing balance method. Your instalment per month will remain the same throughout the tenure of your loan. The first instalment may be different depending on the date of disbursal.
  </p>
  <div class="faqquationre"><strong>Q. What information can be viewed about me?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Once your listing has been approved by RealTimeMoney, your entire public profile can be viewed by all registered Lenders. However, we do not share your private information with Lenders, but we verify this information on the behalf of Lenders to enable a better lending experience for both Lenders and Borrowers. Financial information on your profile will not be visible to general visitors.
  </p>
  <div class="faqquationre"><strong>Q. Are there any hidden charges?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> No. All fees are transparently explained on the website and you will receive a Statement of Account that will show the details of all charges. We pride ourselves on our system's transparency.
  </p>
  <div class="faqquationre"><strong>Q. Can I make one-off payments?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Yes, with no penalty.
  </p>
  <div class="faqquationre"><strong>Q. Can I change the amount I want to borrow after applying?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> No, as the rate and the amount has already been agreed upon by you and the Lender in the RealTimeMoney marketplace. To increase the loan amount, you may create a fresh loan request for the difference.
  </p>
  <div class="faqquationre"><strong>Q. Can my loan request be terminated or reviewed at any stage?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Yes, if at any stage the information furnished by you or the verification(s) initiated by us are found to be incomplete, fraudulent or unverifiable then the funding request is terminated and consequently, the invest button on your profile would be de-activated.
  </p>
  <div class="faqquationre"><strong>Q. What happens if RealTimeMoney closes?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> In the event of RealTimeMoney closing, all loans that have originated through RealTimeMoney still hold good. This is because the loan agreement signed duly signed by Borrower and Lender is still legal. Our backend team will continue to engage with Borrowers to close any outstanding loans. Legal action is possible against Borrower defaults.
  </p>
  <div class="faqquationre"><strong>Q. How do I cancel my loan application?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Please write to <a href="mailto:support@rtmtech.zohosupport.com">support@rtmtech.zohosupport.com</a> requesting cancellation of your registration as a Borrower. Loan cancellation can only happen prior to disbursal of funds.
  </p>
  <div class="faqquationre"><strong>Q. How do I change my bank details or set up a new direct debit?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Please write to <a href="mailto:support@rtmtech.zohosupport.com">support@rtmtech.zohosupport.com</a> stating your old bank details and the new bank details that should replace the old details. Changes in bank details attract a fee of ₹ 200/- per change, and will be applied to your account.
  </p>
  <div class="faqquationre"><strong>Q. How to create an effective loan listing?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> To create an effective and attractive loan listing, RealTimeMoney advises Borrowers to share relevant and authentic information regarding your purpose for requesting for a loan and what you plan to use the money for. Be sure to include a genuine reason for using the loan as it will improve your ranking and attract more Lenders to your listing.
  </p>
  <div class="faqquationre"><strong>Q. Can I be both a Lender and a Borrower?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> No. At this time, you can be either a Lender or a Borrower. RealTimeMoney is working on the operational feasibility of a scenario where one person can be both a Lender and a Borrower.
  </p>
  <div class="faqquationre"><strong>Q. How does RealTimeMoney facilitate my loan and repayment?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> RealTimeMoney does not directly facilitate the transfer of funds between Borrower and Lender. Instead, we track, monitor and report on the repayment of the loan over the loan duration, and we remind Borrowers to execute timely repayments to Lenders to ensure that loans are paid on time and that Borrowers avoid paying late repayment penalty charges.
  </p>
  <div class="faqquationre"><strong>Q. What is the duration of the Loans?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> You can choose the repayment duration of your loan from a minimum of 1 Month to a maximum of 36 Months.
  </p>
  <div class="faqquationre"><strong>Q. What is the EMI due date?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> All EMIs are repayable monthly and are due on the anniversary date of the disbursement.
  </p>
</div>

