
.form-gap{
	margin-top: 200px;
	/* background: linear-gradient(to top left, #00ccff 0%, #ff99cc 100%); */
	  max-height: 430px;
}
.invalid-feedback {
color: #f90e0a;
}
.panel-default {
    border-color: #327ab5 !important;
    height: 331px !important;
    background-color: #f5f5f5!important;
    color: #64a7e0;
    width: 309px;
}

.pspace{
	margin-top: 25px;
}
.passbtn{
	margin-left:35%;
	margin-top: 40px;
}

.loanModalHeader {
    background-color: #337ab7;
    color: white;
    text-align: center;
}

#loanModalBody {
    background: whitesmoke;
}

