#itemsperpagemargin {
    float: right;
    margin-top: 10px;
}
.adminsearchbox1 {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 8px;
    background: whitesmoke;
    color: brown;
    /*DarshanST*/
    text-align: center;
}

.adminsearchbox1:focus {
    /*DarshanST*/
    width: 60%;
    background: white;
}


#itemperpagestyle {
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    background: white;
    padding: 10px;
    font-weight: bold;
}

#loanTableStyle {
    border: none;
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
}


#mytableborder {
    height: 145px;
    -webkit-box-shadow: 0px 10px 14px -7px #ddd;
}


#myloanhead {
    background: beige;
    color: #333333;
}

.tableTextCenter th {
    text-align: center;
}

.tableTextCenter td {
    text-align: center;
}

#myduesbody {
    background: whitesmoke;
    color: black;
}
.applicationbutton3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.applicationbutton3 {
    border-radius: 9px;
    background-color: #337ab6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    /* padding: 28px; */
    width: 127px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 4px; */
    margin-top: 2px;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-shadow: 0px 10px 14px -7px #333;
    }

.applicationbutton3 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.applicationbutton3:hover span {
  padding-right: 25px;
}

.applicationbutton3:hover span:after {
  opacity: 1;
  right: 0;
}


#spanmessage {
    font-size: 20px;
    color: red;
}

.fade {
        opacity: 1;

    }


#placecloseicon {
        float: right;
    font-size: 22px;
}
#placecloseicon:hover{
    color: whitesmoke;

}

#loandetpopuphead {
    text-align: center;
    color: white;
    font-weight: bold;
    font-style: oblique;
}

#recordsmodalfooter {
    background: whitesmoke;
}



@media only screen and (min-width:320px) and (max-width: 767px) {
    #adminMobileMenu {
        list-style: none;
        text-align: center;
        margin-top: 20px;
    }
    .adminsearchbox1{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 23px;
    background: whitesmoke;
    color: brown;
}

#visitedborr {
    font-size: 27px;
    margin-left: 61px;
    font-style: oblique;
    font-weight: bolder;
    color: brown;
}



  
}
