<div id="preloader"></div>

<header class="header-area">

    <div class="logo-right-address">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="sitelogo">
                        <a routerLink="/home"><img class="qwerty" src="assets/img/finchainlogo1.jpg" alt="home" />
                        </a>
                    </div>

                    <a routerLink="/home">
                        <p class="headertag">FINCHAIN</p>
                        <hr id="underline">
                        <h6 id="tagline">Financial vector to your business</h6>
                    </a>

                </div>







                <div class="col-md-8">
                    <div class="right-address">
                        <div class="single-address">
                            <div class="icon">
                                <img src="assets/img/call.png" alt="call" />
                            </div>
                            <div class="content">
                                <p class="super">
                                    <span>Call Us:</span> +91 6366643335
                                </p>
                            </div>
                        </div>
                        <div class="single-address">
                            <div class="icon">
                                <img src="assets/img/envalope.png" alt="email" />
                            </div>
                            <div class="content">
                                <p class="super">
                                    <span>Email us: </span> sales@finchain.co.in
                                </p>
                            </div>
                        </div>
                        <div class="single-address">
                            <a routerLink="/login" class="button btn btn-default btn-sm"><i class="fa fa-reply-all"></i>
                                Login/Register</a>
                        </div>






                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div class="float-right">
                    <a href="https://www.facebook.com/finchaintechnologies/#" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.linkedin.com/company/finchain-technologies" target="_blank" class="fa fa-linkedin"></a>
                    <a target="_blank" href="https://twitter.com/FinchainT" class="fa fa-twitter"></a>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <!-- <div class="menu-area">
            <div class="container">
                <div class="row" style="float: right;">
                    <div class="col-md-12 col-lg-12">
                        <div id="cssmenu">
                            <ul>
                                <li><a routerLink="/home">Home</a>
                                   
                                </li>
                                <li><a routerLink="/Aboutus">About us </a></li>
                                <li><a routerLink="/how-it-works">Process</a>
                                   
                                </li>
                                <li><a routerLink="/advantages">Advantages</a>
                                    
                                </li>
                                <li><a routerLink="/contactus">Contact us</a>
                                    
                                </li>
                               

                            </ul>
                        </div>

                    </div>

                </div>     
            </div>
        </div> -->

    <nav class="navbar navbar-inverse menu-area">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle aa" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="tt"
                    href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>

            <div class="row" style="float: right;">
                <div class="col-md-12 col-lg-12">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <div id="cssmenu">

                            <ul class="nav navbar-nav">
                                <li><a routerLink="/home">Home</a>

                                </li>
                                <li><a routerLink="/Aboutus">About us </a></li>
                                <li><a routerLink="/how-it-works">Process</a>

                                </li>
                                <li><a routerLink="/advantages">Advantages</a>

                                </li>
                                <li><a routerLink="/contactus">Contact us</a>

                                </li>
                                <li><a routerLink="/mediaroom">Our Media Room</a>
                        
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- end of header area -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Process</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Process</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- start services.html section -->
    <section class="featured-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Industries We Serve</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured heigtalign">
                        <div class="icon">
                            <img src="assets/img/92.png" alt="Information Technology">
                        </div>
                        <div class="content ">
                            <h4 class="fonnnn">Information Technology</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured heigtalign">
                        <div class="icon">
                            <img src="assets/img/93.png" alt="FMCG">
                        </div>
                        <div class="content ">
                            <h4 class="fonnnn">FMCG</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured heigtalign">
                        <div class="icon">
                            <img src="assets/img/91.png" alt="Manufacturing and Automations">
                        </div>
                        <div class="content ">
                            <h4 class="fonnnn">Manufacturing and Automations</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured heigtalign">
                        <div class="icon">
                            <img src="assets/img/94.png" alt="Retail and Restaurants">
                        </div>
                        <div class="content ">
                            <h4 class="fonnnn">Retail and Restaurants</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured heigtalign">
                        <div class="icon">
                            <img src="assets/img/96.jpg" alt="Travel">
                        </div>
                        <div class="content ">
                            <h4 class="fonnnn">OMCs</h4>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-featured heigtalign">
                        <div class="icon">
                            <img src="assets/img/98.png" alt="Pharmaceutical">
                        </div>
                        <div class="content">
                            <h4 class="fonnnn">Pharmaceutical</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of services section -->


    <!-- start loan options checking section -->
    <section class="loan-options-checking">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 checkingbg1 text-center">
                    <div class="single-loan-checking-options">
                        <div class="icon">
                            <img src="assets/img/edom.png" alt="No Hidden Fees">
                        </div>
                        <div class="content">
                            <h4>No Hidden Fees</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 checkingbg2 text-center">
                    <div class="single-loan-checking-options">
                        <div class="icon">
                            <img src="assets/img/document.png" alt="Easy Onboarding">
                        </div>
                        <div class="content">
                            <h4>Easy Onboarding</h4>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 checkingbg3 text-center">
                    <div class="single-loan-checking-options">
                        <div class="icon">
                            <img src="assets/img/bripcase.png" alt="consulting & Support Team">
                        </div>
                        <div class="content">
                            <h4>Specialist business consulting & Support Team</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of loan options checking section -->

    <!-- start simple loan process -->
    <section class="second-loan-process section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Experience The Seamless Process</h2>
                    </div>
                </div>
            </div>
            <div class="row process-list">
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>SME raises an invoice on a bluechip company</h4>
                        <div class="icon aaa">
                            <img src="assets/img/pade.png" alt="bluechip">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>SME lists inovice on FINCHAIN.</h4>
                        <div class="icon ddd">
                            <img src="assets/img/dollar.png" alt="inovice">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>NBFC's will accept the invoice through bidding process.</h4>
                        <div class="icon cdc">
                            <img src="assets/img/handshake.png" alt="bidding">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>SME gets the funds directly into their bank account</h4>
                        <div class="icon pppp">
                            <img src="assets/img/get-money.png" alt="funds">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of simple loan process -->

    <!-- start dream quote -->
    <section class="dream-quote section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="dream-quote-text">
                        <h2>We are redefining financial<br> Eco-system with our AI,ML and Blockchain based platform</h2>

                    </div>
                </div>
            </div>
        </div>
    </section>