<div class ="col-md-12" *ngIf="!otp">
  <div class="col-md-offset-3 col-md-6 box-outline">
      <div class="row">
         <form [formGroup]="paswordForm" (ngSubmit)="forgotForm(mobile)" class="css-form">
          <div class="col-md-12 reset">
              <h1>First, let's find your account</h1>
               <div class="col-md-12 reset-text">
                  <p>Please enter your Mobile Number</p>
               </div>
               <div class="col-md-12">
                 
                <input type="text" formControlName="mobile" class="form-control"  id="uname"  placeholder="User Number" [(ngModel)]="mobile" minlength=10 maxlength=10 (keypress)="keyPress($event)"/>
               </div>
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">User Number is required</div>
                 
                </div>
                <div *ngIf="error_message" class="invalid-feedback">{{error_message}}</div>
               <div class="col-md-12 text-center ">
                  <button class="btn btn-primary btn-md submitbutton"type="submit">Submit</button>
              </div>    
          </div>
        </form>
      </div>
   </div>
</div>
<div class="col-md-12" *ngIf="otp">
  <div class=" col-md-offset-3 col-md-6 box-outline">
      <div class="row">
         <form name="form" class="css-form" (ngSubmit)="verifyotpFrm.form.valid && verifyOtp(Userotp)" #verifyotpFrm="ngForm" novalidate>
       
          <div class="col-md-12 reset">
              <h1>First, let's find your account</h1>
               <div class="col-md-12 reset-text">
                  <p>Please enter the OTP to change your Password</p>
               </div>
               <div class="form-group">
                        <input type="text" class="form-control" name="userotp" [(ngModel)]="Userotp" #userotp="ngModel" minlength=6 maxlength=6 (keypress)="keyPress($event)" placeholder="Enter OTP" required />
                        <div *ngIf="verifyotpFrm.submitted && userotp.invalid" class="invalid-feedback">
                            <div *ngIf="userotp.errors.required">OTP is required</div>
                        </div>
                        <div *ngIf="error_message" class="invalid-feedback">{{error_message}}</div>
                    </div>
              <div class="col-md-12 text-center ">
               <button class="btn btn-primary btn-md submitbutton" type="submit">Submit</button>
           </div>    
   </div>
</form>
</div>
</div>
</div>