<div class="col-xs-12 col-sm-12 col-md-12">
<div class="row">
    <div id="myicon">
       
        <span style="font-size:30px;cursor:pointer;" (click)="openNav()"> &#9776;</span>
        
    </div>

<div class="col-xs-12 col-sm-12 col-md-3">
<div class="row" id="dashboardbody">
<ul class="borrowerdashboardleft">
<div class="col-md-12 text-center" style="height:180px;">
        <div class="container123">
            <div class="avatar-upload">
                <div class="col-md-offset-3 avatar-preview">
                 <img [src]="profi" alt="profile" class="img1">
                </div>
                <div class="avatar-edit">
                    <label  for="cameraicon" class="share-media-button__label mvA share-media-button__label--square">
                    <svg viewBox="0 0 24 24" class="vide" color="#3770a0"  width="36px" height="36px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21,6H18L16.5,3h-9L6,6H3A1,1,0,0,0,2,7V19a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V7A1,1,0,0,0,21,6ZM7.36,8l1.5-3h6.28l1.5,3H20v2H16.58a5,5,0,0,0-9.16,0H4V8H7.36Zm7.76,4A3.13,3.13,0,1,1,12,8.88,3.13,3.13,0,0,1,15.13,12ZM4,18V11H7.1a5,5,0,1,0,9.8,0H20v7H4Z" class="large-icon" style="fill: currentColor"></path></svg>
                    </label>
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"  (change)="changefrontimage($event)">
                    <label for="imageUpload" title="Upload Image"></label>
                </div>
            </div>
        </div>
</div>
<div class="text-center">
    <span> Welcome {{current_user.companyName}}</span>
</div>
    <a routerLink="Dashboard-Details">
        <li>
            <div><img alt="home" src="assets/images/Dashboard.png">Home
           
            </div>
        </li>
    </a>

    <a routerLink="View-Borrow-Profile" routerLinkActive="active">
         <li ng-class="{'active':currentpage=='viewborrowerprofile'}"><img alt="view profile" src="assets/images/View profile.png">View Profile</li>
    </a>

    <a routerLink="invoices" routerLinkActive="active">
         <li ng-class="{'active':currentpage=='viewborrowerprofile'}"><img alt="view profile" src="assets/images/invoice_logo.png">Invoice</li>
    </a>
    <a class="arrow" (click)="newloan_reuestpath()">
        <li><img alt="apply loan" src="assets/images/Loan Request.png">Apply Loan</li>
    </a>
    <a routerLink="Loan-History">
         <li><img alt="loan history" src="assets/images/Loan History.png">Loan History</li>
    </a>

    
    <a routerLink="Borrower-Latepayment">
        <li><img alt="payment info" src="assets/images/Todays due.png">Payment Info</li>
    </a>
    <a routerLink="Upload_Docs">
             <li><img alt="upload docs" src="assets/images/uploaddocuments.png">Upload Docs</li>
    </a>
  
    <a routerLink="Help">
         <li><img alt="help" src="assets/images/Help.png">Help</li>
    </a>
</ul>
</div>
</div>
    <div id="mySidenav" class="sidenav">
  
    <a class="closebtn" (click)="closeNav()">&times;</a>
    <li>

    <div class="col-xs-5" style="height:100px;">
            <div class="container123">
                    <div class="avatar-upload">
                        <div class="col-md-offset-3 avatar-preview">
                         <img [src]="profi" alt="profile" class="img1" >
                        </div>
                        <div class="avatar-edit">
                            <label  for="cameraicon" class="share-media-button__label mvA share-media-button__label--square">
                            <svg viewBox="0 0 24 24" class="vide" color="#3770a0"  width="36px" height="36px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon" focusable="false"><path d="M21,6H18L16.5,3h-9L6,6H3A1,1,0,0,0,2,7V19a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V7A1,1,0,0,0,21,6ZM7.36,8l1.5-3h6.28l1.5,3H20v2H16.58a5,5,0,0,0-9.16,0H4V8H7.36Zm7.76,4A3.13,3.13,0,1,1,12,8.88,3.13,3.13,0,0,1,15.13,12ZM4,18V11H7.1a5,5,0,1,0,9.8,0H20v7H4Z" class="large-icon" style="fill: currentColor"></path></svg>
                            </label>
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"  (change)="changefrontimage($event)">
                            <label for="imageUpload" title="Upload Image"></label>
                        </div>
                    </div>
                </div>
    </div>
    <div>
    <table class="rtmscore1">
    <tr class="row1">
    <th>FINCHAIN score</th>
    <th>{{finchain}}</th>
    </tr>
    <tr class="row2">
    <th>Credit limit</th>
    <th>{{current_user.credit_limit}} </th>
    </tr>
    <tr class="row3">
    <th>Loan avail</th>
    <th>{{current_user.loan_availed}} </th>
    </tr>
    <tr class="row4">
    <th>Avail amount</th>
    <th> {{avail_amount}}</th>
    </tr>
    </table>
    </div>
    </li>
    
    <div>
        <br>
        <br>
        <br>
        <br>
        <li><span>Welcome  {{current_user.companyName}}&nbsp; </span></li>
        <a routerLink="Dashboard-Details" (click)="closeNav();">
        <li ng-class="{'active':currentpage=='dashboarddetails'}"><img  alt="home" src="assets/images/Dashboard.png" class="img2">Home</li>
        </a>
        <a routerLink="View-Borrow-Profile" (click)="closeNav();">
        <li ng-class="{'active':currentpage=='viewborrowerprofile'}"><img alt="view profile" src="assets/images/View profile.png" class="img2">View Profile</li>
        </a>

        <a routerLink="invoices" routerLinkActive="active" (click)="closeNav();">
         <li ng-class="{'active':currentpage=='viewborrowerprofile'}"><img alt="view profile" src="assets/images/invoice_logo.png" class="img2">Invoice</li>
    </a>
     


        <a  (click)="newloan_reuestpath()" (click)="closeNav();">
        <li ng-class="{'active':currentpage=='newloanrequest'}"><img alt="apply loan" src="assets/images/Loan Request.png" class="img2">Apply Loan</li>
        </a>

        <a routerLink="Loan-History" (click)="closeNav();">
        <li ng-class="{'active':currentpage=='loanhistory'}"><img alt="loan histroy" src="assets/images/Loan History.png" class="img2">Loan History</li>
        </a>
        
        <a routerLink="Borrower-Latepayment" (click)="closeNav();">
            <li><img alt="payment info" src="assets/images/Todays due.png" class="img2">Payment Info</li>
        </a>
        <a routerLink="Upload_Docs" (click)="closeNav();">
                 <li><img alt="upload doc" src="assets/images/uploaddocuments.png" class="img2">Upload Docs</li>
        </a>
      
        <a routerLink="Help" (click)="closeNav();">
        <li><img alt="help" src="assets/images/Help.png" class="img2">Help</li>
        </a>
    </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
            <div class="rtm-score-strip" style="margin-bottom:45px; margin-top: 6%;margin-left: -85px;">
            <table class=" table-responsive col-md-12 col-sm-12 col-xs-12" style="position: absolute;
            background: #327ab5;
            z-index: 999;
            margin-top: 10px;
            color: white;
            margin-left: 72px;">
            <tr>
            <th>FINCHAIN score :{{finchain}} </th>
            <th>Credit limit :{{current_user.credit_limit}} </th>
            <th>Loan avail :{{current_user.loan_availed}} </th>
            <th>Avail amount :{{avail_amount}} </th>
            </tr>
            </table>
            </div>
            <div style="margin-top:10%">
            <router-outlet></router-outlet>
            </div>
    </div>

    </div>

</div>


<div class="modal fade" #borroweresponse id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="!submitted">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel" style="text-align: center">Upcoming Fund Response</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>  
      <div class="modal-body">
          <h2 style="text-align: center"></h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
        
        </div>
      </div>
    </div>
  </div>
  
  





