<div id="preloader"></div>
<!-- start header area -->
<header class="header-area">

  <div class="logo-right-address">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="sitelogo">
            <a routerLink="/home"><img class="qwerty" src="assets/img/finchainlogo1.jpg" alt="home" />
            </a>
          </div>

          <a routerLink="/home">
            <p class="headertag">FINCHAIN</p>
            <hr id="underline">
            <h6 id="tagline">Financial vector to your business</h6>
          </a>

        </div>





        <div class="col-md-8">
          <div class="right-address">
            <div class="single-address">
              <div class="icon">
                <img src="assets/img/call.png" alt="call" />
              </div>
              <div class="content">
                <p class="super">
                  <span>Call Us:</span> +91 6366643335
                </p>
              </div>
            </div>
            <div class="single-address">
              <div class="icon">
                <img src="assets/img/envalope.png" alt="email" />
              </div>
              <div class="content">
                <p class="super">
                  <span>Email us: </span> sales@finchain.co.in
                </p>
              </div>
            </div>
            <div class="single-address">
              <a routerLink="/login" class="button btn btn-default btn-sm"><i class="fa fa-reply-all"></i>
                Login/Register</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="float-right">
            <a href="https://www.facebook.com/finchaintechnologies/#" target="_blank" class="fa fa-facebook"></a>
            <a href="https://www.linkedin.com/company/finchain-technologies" target="_blank" class="fa fa-linkedin"></a>
            <a target="_blank" href="https://twitter.com/FinchainT" class="fa fa-twitter"></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <nav class="navbar navbar-inverse menu-area">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle aa" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="tt"
          href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </div>

      <div class="row" style="float: right;">
        <div class="col-md-12 col-lg-12">
          <div class="collapse navbar-collapse" id="myNavbar">
            <div id="cssmenu">

              <ul class="nav navbar-nav">
                <li><a routerLink="/home">Home</a>

                </li>
                <li><a routerLink="/Aboutus">About us </a></li>
                <li><a routerLink="/how-it-works">Process</a>

                </li>
                <li><a routerLink="/advantages">Advantages</a>

                </li>
                <li><a routerLink="/contactus">Contact us</a>
                <li><a routerLink="/mediaroom">Our Media Room</a>
                <!-- <li><a [routerLink]="['/invoicemanagent/Invoice']">Invoice Management Solution</a>
                </li> -->
             <!-- <li><a routerLink="/finpay">FinchainPay</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--BEGINS-->


  <!-- <div id="myCarousel"> -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">



    <div class="carousel-inner">



      <div class="item active"
        style="background-image: url(assets/img/acc.jpeg);width:100%;height:500px;text-align:center;background-size: cover;">


        <div style="width:100%;height:500px;background:rgba(0,0,0,.6);">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <p style="color:white;font-size:19px;" id="best"><strong>Best In Class Digital Lending Platform</strong></p>
          <h1 class="enhacement"><strong>Want to manage your working capital better or <br> need a business enhancement
              loan </strong></h1>







          <input type="button" class="hoverss" style="width:166px;height:54px;border-radius:6px;border:none;"
            value="REGISTER" routerLink="/CompanyInitialRegistration">






          <!-- <input type="button" class="hoversss" value="CONTACT US" routerLink="/contactus"> -->





        </div>

      </div>








      <div class="item "
        style="background-image: url(assets/img/11.jpg);width:100%;height:500px;text-align:center;    background-size: cover;">
        <div style="width:100%;height:500px;background:rgba(0,0,0,.6);">

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <p style="color:white;font-size:19px;" id="rr"><strong>Easy Onboarding</strong></p>
          <h1 class="enhacement"><strong>With digital & seamless onboarding <br>We are the partner who helps with<br>
              your cashflow requirements </strong></h1>











          <!-- <input type="button" class="hoversss" id="rr1" value="CONTACT US" routerLink="/contactus"> -->






        </div>
      </div>


      <div class="item "
        style="background-image: url(assets/img/22.jpg);width:100%;height:500px;text-align:center;    background-size: cover;">
        <div style="width:100%;height:500px;background:rgba(0,0,0,.6);">

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p style="color:white;font-size:19px;" id="Competitives"><strong>Most Competitive Rates</strong></p>
          <h1 class="enhacement"><strong>Lowest interest rate on loan</strong></h1>






          <input type="button" class="hoverss" style="width:166px;height:54px;border-radius:6px;border:none;"
            value="REGISTER" routerLink="/CompanyInitialRegistration">





          <!-- <input type="button" class="hoversss" value="CONTACT US" routerLink="/contactus"> -->








        </div>
      </div>















      <div class="item"
        style="background-image: url(assets/img/33.jpg);width:100%;height:500px;text-align:center;    background-size: cover;">
        <div style="width:100%;height:500px;background:rgba(0,0,0,.6);">

          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p style="color:white;font-size:19px;" id="letus"><strong>Let Us Help You</strong></p>

          <h1 class="enhacement"><strong>Are you out of cash with payroll and creditors due?</strong></h1>











          <!-- <input type="button" class="hoversss" value="CONTACT US" routerLink="/contactus"> -->




        </div>

      </div>



      <a class="left carousel-control" href="#myCarousel" data-slide="prev">

        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">

        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!--ENDS-->



  <!-- end of header area -->
  <!-- start header bottom section -->
  <div class="header-bottom-section ssizze">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-header-bottom">
            <div class="icon">
              <img src="assets/img/quickqualification.png" alt="aulification" />
            </div>
            <div class="content fontsss">
              <p>
                Quick <br> Qualification<br>Process
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-header-bottom">
            <div class="icon">
              <img class="A" src="assets/img/fastcash.png" alt="fast cash" />
            </div>
            <div class="content fontsss">
              <p>
                Fast Cash - No More Waiting On Slow Paying Clients
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-header-bottom">
            <div class="icon">
              <img class="B" src="assets/img/img_452174.png" alt="Financial statement" />
            </div>
            <div class="content fontsss">
              <p>Imperfect Financial Statements – No Problem</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-header-bottom">
            <div class="icon">
              <img src="assets/img/reduce.png" alt="reduce" />
            </div>
            <div class="content fontsss">
              <p>Reduce The Stress Of Constrained Cash Flow
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end of header bottom section -->

  <!-- start featured section -->
  <section class="featured-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2>Why Finchain ?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single-featured">
            <div class="icon">
              <img src="assets/img/finchainscore.png" alt="finchainscore" />
            </div>
            <div class="content">
              <h4>Finchain Score</h4>
              <p>Helps you to accept your invoice with best rate of interest.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-featured">
            <div class="icon">
              <img src="assets/img/car.png" alt="Collateral" />
            </div>
            <div class="content">
              <h4>Collateral free working capital</h4>
              <p>Fund your growth using just your trade receivables.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-featured">
            <div class="icon">
              <img src="assets/img/creditlimit.png" alt="credit" />
            </div>
            <div class="content">
              <h4>Credit limit will be set by FINCHAIN</h4>
              <p>FINCHAIN will be provide the credit limit based on your score.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-featured">
            <div class="icon">
              <img src="assets/img/education.png" alt="Competitive" />
            </div>
            <div class="content">
              <h4>Competitive pricing</h4>
              <p>Cost of financing can be very low per month basis credit evaluation.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-featured">
            <div class="icon">
              <img src="assets/img/money.png" alt="Digitally Automated" />
            </div>
            <div class="content">
              <h4>Digitally Automated</h4>
              <p>Use Portal by FINCHAIN for faster fulfilment and end-to-end service - all in one place.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single-featured">
            <div class="icon">
              <img src="assets/img/security.png" alt="security" />
            </div>
            <div class="content fonnn">
              <h4>Security</h4>
              <p>The platform is advanced with blockchain technology which have some desirable features that would help
                to secure your transaction data.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of featured section -->













  <!-- wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->







  <div class="container mobile1">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>Industries We Serve</h2>
          <!--   <p>The passages of Lorem Ipsum available but the majority have suffered alteration embarrased</p> -->
        </div>
      </div>
    </div>





    <div id="multi-item-example" class="carousel slide  carousel-multi-item" data-ride="carousel" data-interval="3000">

      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="col-md-4">

            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt7.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">
                <h4><img src="assets/img/icon-2.png" alt="information technology">&nbsp; &nbsp; Information Technology
                </h4>
              </div>

            </div>

          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt10.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">
                <h4><img src="assets/img/icon-3.png" alt="FMCG">&nbsp; &nbsp; FMCG</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt8.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">
                <h4><img src="assets/img/icon-4.png" alt="Manufacturing and Automations">&nbsp; &nbsp; Manufacturing and
                  Automations</h4>
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->





        <!--Second slide-->
        <div class="carousel-item">

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt10.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">

                <h4><img src="assets/img/icon-3.png" alt="fmcg">&nbsp; &nbsp; FMCG</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">


              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt8.jpg" alt="Card image cap" class="imagess">
              </div>


              <div class="card-body">
                <h4><img src="assets/img/icon-4.png" alt="Manufacturing and Automations">&nbsp; &nbsp; Manufacturing and
                  Automations</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">


              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt5.jpg" alt="Card image cap" class="imagess">
              </div>


              <div class="card-body">

                <h4><img src="assets/img/icon-2.png" alt="Retail and Restaurants">&nbsp; &nbsp; Retail and Restaurants
                </h4>

              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt8.jpg" alt="Card image cap" class="imagess">
              </div>



              <div class="card-body">
                <h4><img src="assets/img/icon-4.png" alt="Manufacturing and Automations">&nbsp; &nbsp; Manufacturing and
                  Automations</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">



              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt5.jpg" alt="Card image cap" class="imagess">
              </div>


              <div class="card-body">
                <h4><img src="assets/img/icon-2.png" alt="Retail and Restaurants">&nbsp; &nbsp; Retail and Restaurants
                </h4>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-4">
            <div class="card mb-2 cardst1">


              <div class="cardst">
                <img class="card-img-top" src="assets/img/te.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">

                <h4><img src="assets/img/icon-3.png" alt="Travel">&nbsp; &nbsp; Travel</h4>

              </div>
            </div>
          </div> -->
          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt6.jpg" alt="Card image cap" class="imagess">
              </div>


              <div class="card-body">

                <h4><img src="assets/img/icon-4.png" alt="Pharmaceutical">&nbsp; &nbsp; Pharmaceutical</h4>

              </div>
            </div>
          </div>

        </div>



        <!--/.Third slide-->





        <!-- forth slide-->


        <div class="carousel-item">

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">

                <img class="card-img-top" src="assets/images/imgt5.jpg" alt="Card image cap" class="imagess">

              </div>

              <div class="card-body">
                <h4><img src="assets/img/icon-2.png" alt=" Retail and Restaurants">&nbsp; &nbsp; Retail and Restaurants
                </h4>
              </div>
            </div>
          </div>

          <!-- <div class="col-md-4">
            <div class="card mb-2 cardst1">


              <div class="cardst">
                <img class="card-img-top" src="assets/img/te.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">

                <h4><img src="assets/img/icon-3.png" alt="Travel">&nbsp; &nbsp; Travel</h4>
              </div>
            </div>
          </div> -->
          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt10.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">
                <h4><img src="assets/img/icon-3.png" alt="FMCG">&nbsp; &nbsp; FMCG</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt6.jpg" alt="Card image cap" class="imagess">
              </div>


              <div class="card-body">

                <h4><img src="assets/img/icon-4.png" alt="Pharmaceutical">&nbsp; &nbsp; Pharmaceutical</h4>

              </div>
            </div>
          </div>

        </div>


        <!-- forth slide -->



        <!-- fifth slide-->


        <div class="carousel-item">

          <!-- <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/img/te.jpg" alt="Card image cap" class="imagess">
              </div>


              <div class="card-body">

                <h4><img src="assets/img/icon-3.png" alt="Travel">&nbsp; &nbsp; Travel</h4>
              </div>
            </div>
          </div> -->

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt10.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">
                <h4><img src="assets/img/icon-3.png" alt="FMCG">&nbsp; &nbsp; FMCG</h4>
              </div>
            </div>
          </div>



          <div class="col-md-4">
            <div class="card mb-2 cardst1 ">




              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt6.jpg" alt="Card image cap" class="imagess">
              </div>





              <div class="card-body">
                <h4><img src="assets/img/icon-4.png" alt="Pharmaceutical">&nbsp; &nbsp; Pharmaceutical</h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">


              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt7.jpg" alt="Card image cap" class="imagess">
              </div>



              <div class="card-body">
                <h4><img src="assets/img/icon-2.png" alt="Information Technology">&nbsp; &nbsp; Information Technology
                </h4>
              </div>
            </div>
          </div>

        </div>


        <!-- fifth slide -->



        <!-- six slide-->


        <div class="carousel-item">

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt6.jpg" alt="Card image cap" class="imagess">
              </div>


              <div class="card-body">

                <h4><img src="assets/img/icon-4.png" alt="Pharmaceutical">&nbsp; &nbsp; Pharmaceutical</h4>
              </div>
            </div>
          </div>



          <div class="col-md-4">
            <div class="card mb-2 cardst1">


              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt7.jpg" alt="Card image cap" class="imagess">
              </div>



              <div class="card-body">
                <h4><img src="assets/img/icon-2.png" alt="Information Technology">&nbsp; &nbsp; Information Technology
                </h4>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-2 cardst1">

              <div class="cardst">
                <img class="card-img-top" src="assets/images/imgt10.jpg" alt="Card image cap" class="imagess">
              </div>

              <div class="card-body">
                <h4><img src="assets/img/icon-3.png" alt="FMCG">&nbsp; &nbsp; FMCG</h4>
              </div>
            </div>
          </div>

        </div>


        <!-- six slide -->






      </div>
      <!--/.Slides-->

    </div>
  </div>




  <!-- wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww -->

  <!-- mobile carousel -->
  <div class="mobile">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-title">
          <h2>Industries We Serve</h2>
        </div>
      </div>
    </div>
    <div id="myCarousel" class="carousel  slide" data-ride="carousel" data-interval="2000">

      <div class="carousel-inner">

        <div class="item active">


          <div class="cardst1">

            <div class="cardst">
              <img class="card-img-top" src="assets/images/imgt7.jpg" alt="Card image cap" class="imagess">
            </div>

            <div class="card-body mb carousel-caption">
              <h4><img src="assets/img/icon-2.png" alt="Information Technology">&nbsp; &nbsp; Information Technology
              </h4>
            </div>

          </div>
        </div>


        <div class="item">
          <div class="cardst1">

            <div class="cardst">
              <img class="card-img-top" src="assets/images/imgt10.jpg" alt="Card image cap" class="imagess">
            </div>

            <div class="card-body mb carousel-caption">
              <h4><img src="assets/img/icon-3.png" alt="FMCG">&nbsp; &nbsp; FMCG</h4>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="cardst1">

            <div class="cardst">
              <img class="card-img-top" src="assets/images/imgt8.jpg" alt="Card image cap" class="imagess">
            </div>

            <div class="card-body mb carousel-caption">
              <h4><img src="assets/img/icon-4.png" alt="Manufacturing and Automations">&nbsp; &nbsp; Manufacturing and
                Automations</h4>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="cardst1">

            <div class="cardst">
              <img class="card-img-top" src="assets/images/imgt10.jpg" alt="Card image cap" class="imagess">
            </div>

            <div class="card-body mb carousel-caption">

              <h4><img src="assets/img/icon-3.png" alt="FMCG">&nbsp; &nbsp; FMCG</h4>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="cardst1">


            <div class="cardst">
              <img class="card-img-top" src="assets/images/imgt8.jpg" alt="Card image cap" class="imagess">
            </div>


            <div class="card-body mb carousel-caption">
              <h4><img src="assets/img/icon-4.png" alt="Manufacturing and Automations">&nbsp; &nbsp; Manufacturing and
                Automations</h4>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="cardst1">


            <div class="cardst">
              <img class="card-img-top" src="assets/images/imgt5.jpg" alt="Card image cap" class="imagess">
            </div>


            <div class="card-body mb carousel-caption">

              <h4><img src="assets/img/icon-2.png" alt="Retail and Restaurants">&nbsp; &nbsp; Retail and Restaurants
              </h4>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

















  <!-- start loan process section -->
  <section class="loan-process-section section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-title">
            <h2>Simple Loan Process</h2>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">

        <div class="row process-list">
          <div class="col-md-2  text-center">
            <div class="single-process">
              <div class="proces-icon">
                <span class="pe-7s-note"></span>
              </div>
              <div class="content">
                <h4 class="process-title">SIGN UP</h4><br>
                <p>Fill all the company information's like DOE, PAN, Registration Certificate, Balance Sheet, etc.,</p>
              </div>
            </div>
          </div>

          <div class="col-md-2  text-center">
            <div class="single-process">
              <div class="proces-icon">
                <span class="pe-7s-id"></span>
              </div>
              <div class="content">
                <h4 class="process-title">Get YOUR FINCHAIN SCORE</h4><br><br>
                <p style="        margin-top: -38px;">Seamless digital onboarding process giving your Finchain Score
                  (Credit Limit).</p>
              </div>
            </div>
          </div>
          <div class="col-md-2  text-center">
            <div class="single-process">
              <div class="proces-icon">
                <span class="pe-7s-check"></span>
              </div>
              <div class="content">
                <h4 class="process-title">INVOICE RAISED</h4><br>
                <p>Business raises an invoice against the enterprises which is payable in 30 – 90 days.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2  text-center">
            <div class="single-process">
              <div class="proces-icon">
                <span class="pe-7s-wallet"></span>
              </div>
              <div class="content">
                <h4 class="process-title">INVOICE IS UPLOADED</h4>
                <p style="    margin-top: 30px;">Post successful on-boarding, business uploads the invoice on FINCHAIN
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-2  text-center">
            <div class="single-process">
              <div class="proces-icon">
                <span class="pe-7s-timer"></span>
              </div>
              <div class="content">
                <h4 class="process-title">INVOICE APPROVED</h4>
                <br>
                <p>Set your own discount rate.</p>
              </div>
            </div>
          </div>
          <div class="col-md-2  text-center">
            <div class="single-process">
              <div class="proces-icon">
                <span class="pe-7s-cash"></span>
              </div>
              <div class="content">
                <h4 class="process-title">AMOUNT DISBURSED</h4>
                <p style="    margin-top: 45px;">Post Sucessful processing amount disbursed directly to your bank
                  account</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>