 
    <div id="preloader"></div> 
    <!-- start header area -->
    <header class="header-area">
  
        <div class="logo-right-address">
            <div class="container">
                <div class="row">
                  <div class="col-md-4">
                        <div class="sitelogo">
                            <a routerLink="/home"><img class="qwerty" src="assets/img/finchainlogo1.jpg" alt="home" />
                            </a>
                        </div>    

                           
                                <a routerLink="/home">
                            <p class="headertag">FINCHAIN</p> 
                            <hr id="underline">
                            <h6 id="tagline">Financial vector to your business</h6>
                        </a>
                            
                    </div>
         






                    <div class="col-md-8">
                        <div class="right-address">
                            <div class="single-address">
                                <div class="icon">
                                    <img src="assets/img/call.png" alt="call" />
                                </div>
                                <div class="content">
                                    <p class="super">
                                        <span>Call Us:</span> +91 6366643335
                                    </p>
                                </div>
                            </div>
                            <div class="single-address">
                                <div class="icon">
                                    <img src="assets/img/envalope.png" alt="email" />
                                </div>
                                <div class="content">
                                    <p class="super">
                                        <span>Email us: </span> sales@finchain.co.in
                                    </p>
                                </div>
                            </div>
                            <div class="single-address">
                                <a routerLink="/login" class="button btn btn-default btn-sm"><i class="fa fa-reply-all"></i>  Login/Register</a>
                            </div>


               
        
    
   
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <a href="https://www.facebook.com/finchaintechnologies/#" target="_blank" class="fa fa-facebook"></a>
                        <a href="https://www.linkedin.com/company/finchain-technologies" target="_blank" class="fa fa-linkedin"></a>
                        <a target="_blank" href="https://twitter.com/FinchainT" class="fa fa-twitter"></a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <!-- <div class="menu-area">
            <div class="container">
                <div class="row" style="float: right;">
                    <div class="col-md-12 col-lg-12">
                        <div id="cssmenu">
                            <ul>
                                <li><a routerLink="/home">Home</a>
                                   
                                </li>
                                <li><a routerLink="/Aboutus">About us </a></li>
                                <li><a routerLink="/how-it-works">Process</a>
                                   
                                </li>
                                <li><a routerLink="/advantages">Advantages</a>
                                    
                                </li>
                                <li><a routerLink="/contactus">Contact us</a>
                                    
                                </li>
                               

                            </ul>
                        </div>

                    </div>

                </div>     
            </div>
        </div> -->

        <nav class="navbar navbar-inverse menu-area">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle aa" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" id="tt" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </div>
              
                  <div class="row" style="float: right;">
                      <div class="col-md-12 col-lg-12">
                          <div class="collapse navbar-collapse" id="myNavbar">
                  <div id="cssmenu">
                    
                <ul class="nav navbar-nav">
                    <li><a routerLink="/home">Home</a>
                                   
                    </li>
                    <li><a routerLink="/Aboutus">About us </a></li>
                    <li><a routerLink="/how-it-works">Process</a>
                       
                    </li>
                    <li><a routerLink="/advantages">Advantages</a>
                        
                    </li>
                    <li><a routerLink="/contactus">Contact us</a>
                        
                    </li>
                    <li><a routerLink="/mediaroom">Our Media Room</a>
                        
                    </li>
                </ul>
                </div>
                </div>
                </div>
              </div>
            </div>
          </nav>


    <!-- end of header area -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Our Media Room</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Our Media Room</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <section class="about-page-shortcode section-padding">
        <div class="container rowpadding-with-border">
            <div class="row">
                <!--<div class="col-md-6">
                    <div class="single-image">
                        <img id="abtmob" src="assets/img/qqq.jpeg" alt="about us">
                    </div>
                </div>-->
                <div class="col-md-12">
                    <div class="about-content fontalign">
                        <h3 class="h3style"><a target="_blank" href="https://economictimes.indiatimes.com/markets/commodities/news/neml-partners-with-finchain-for-trade-financing-options/articleshow/88047771.cms?from=mdr">NeML partners with FINCHAIN for trade-financing options</a></h3>

                        <p class="medianews">NCDEX e Markets Limited (NeML), a leading integrated e-Markets platform for commodities and intangibles, on Thursday announced its agreement with FINCHAIN Technologies to provide trade-financing options. Under this agreement FINCHAIN, an emerging fintech company engaged in anchor led supply chain and invoice backed financing programs, will now make available bill discounting and trade-financing options to buyers/sellers on various NeML online s ...<span class="readmore"><a target="_blank" href="https://economictimes.indiatimes.com/markets/commodities/news/neml-partners-with-finchain-for-trade-financing-options/articleshow/88047771.cms?from=mdr">Read More</a></span></p>
                       <!--  <img src="assets/img/sign.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container rowpadding-with-border">
            <div class="row">
                <!--<div class="col-md-6">
                    <div class="single-image">
                        <img id="abtmob" src="assets/img/qqq.jpeg" alt="about us">
                    </div>
                </div>-->
                <div class="col-md-12">
                    <div class="about-content fontalign">
                        <h3 class="h3style"><a target="_blank" href="https://agritimes.co.in/commodities-exports/neml-partners-with-finchain-for-trade-financing/">NeML partners with FINCHAIN for trade financing</a></h3>

                        <p class="medianews">NCDEX e Markets Limited (NeML), India’s leading integrated e-Markets platform for commodities and intangibles, announced its agreement with FINCHAIN Technologies to provide trade-financing options.<span class="readmore"><a target="_blank" href="https://agritimes.co.in/commodities-exports/neml-partners-with-finchain-for-trade-financing/">Read More</a></span></p>
                       <!--  <img src="assets/img/sign.png" alt=""> -->
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container rowpadding-with-border">
            <div class="row">
                <!--<div class="col-md-6">
                    <div class="single-image">
                        <img id="abtmob" src="assets/img/qqq.jpeg" alt="about us">
                    </div>
                </div>-->
                <div class="col-md-12">
                    <div class="about-content fontalign">
                        <h3 class="h3style"><a target="_blank" href="https://www.thehindubusinessline.com/markets/commodities/ncdex-e-markets-inks-pact-with-finchain-technologies-for-trade-financing/article37803334.ece">NCDEX e Markets inks pact with Finchain Technologies for trade-financing</a></h3>

                        <p class="medianews">To offer bill discounting and trade-financing options to buyers/sellers on various NeML online spot delivery-based platforms.
                            <span class="readmore"><a target="_blank" href="https://www.thehindubusinessline.com/markets/commodities/ncdex-e-markets-inks-pact-with-finchain-technologies-for-trade-financing/article37803334.ece">Read More</a></span></p>
                       <!--  <img src="assets/img/sign.png" alt=""> -->
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container rowpadding-with-border">
            <div class="row">
                <!--<div class="col-md-6">
                    <div class="single-image">
                        <img id="abtmob" src="assets/img/qqq.jpeg" alt="about us">
                    </div>
                </div>-->
                <div class="col-md-12">
                    <div class="about-content fontalign">
                        <h3 class="h3style"><a target="_blank" href="https://www.thehindu.com/business/business-news-live-asian-shares-mixed/article37800259.ece">NeML partners with FINCHAIN for trade financing</a></h3>

                        <p class="medianews">NCDEX e-Markets Ltd (NeML) on Thursday announced signing of an agreement with FINCHAIN Technologies to provide collateral-free trade finance at competitive rates to participants on its platform.

                            As per the agreement, FINCHAIN will make available bill discounting and trade-financing options to buyers and sellers on various NeML online spot delivery-based platforms, the company said.</p>
                       <!--  <img src="assets/img/sign.png" alt=""> -->
                    </div>
                </div>
            </div>
            
        </div>
        <div class="container rowpadding-with-border">
            <div class="row">
                <!--<div class="col-md-6">
                    <div class="single-image">
                        <img id="abtmob" src="assets/img/qqq.jpeg" alt="about us">
                    </div>
                </div>-->
                <div class="col-md-12">
                    <div class="about-content fontalign">
                        <h3 class="h3style"><a target="_blank" href="https://www.koppr.com/post/neml-partners-with-finchain-for-trade-financing-options-61a887ff700df1a2ad3594eb">NeML partners with FINCHAIN for trade-financing options</a></h3>

                        <p class="medianews">Under this agreement FINCHAIN, an emerging fintech company engaged in anchor led supply chain and invoice backed financing programs, will now make available bill discounting and trade-financing options to buyers/sellers on various NeML online spot delivery-based platforms.
                            <span class="readmore"><a target="_blank" href="https://www.koppr.com/post/neml-partners-with-finchain-for-trade-financing-options-61a887ff700df1a2ad3594eb">Read More</a></span></p>
                       <!--  <img src="assets/img/sign.png" alt=""> -->
                    </div>
                </div>
            </div>
            
        </div>
        <!--  <div class="container">
            <div class="row">
                <h3 class="align lll"><strong >OUR VISION</strong></h3>
                <div class="col-md-6 cntd">
                    <div class="single-vision mbversion1">
                        <div class="vision-img">
                            <img class="imgsize" src="assets/images/ccc.png" alt="connect">
                        </div>
                        <div class="vision-content">
                            <h4>CONNECTED</h4>
                            <p>At FINCHAIN, our vision is for entrepreneurs to have the time to build the world we all want to live in.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-vision mbversion2">
                        <div class="vision-img">
                            <img class="imgsize1"src="assets/images/rre.png" alt="reliable">
                        </div>
                        <div class="vision-content">
                            <h4>RELIABLE</h4>
                            <p>We are making it quick and easy to get funding through our invoice discounting. So entrepreneurs can get on with growing their business, instead of having to worry about cash flow.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div><br><br><br>
          <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-vision mbversion3">
                        <div class="vision-img">
                            <img class="imgsize" src="assets/images/opp.png" alt="optimizing">
                        </div>
                        <div class="vision-content">
                            <h4>OPTIMIZING</h4>
                            <p>Optimizing working capital, through the new-wave of advanced technology.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-vision mbversion4">
                        <div class="vision-img">
                            <img class="imgsize1"src="assets/images/p3.jpg" alt="partnerships">
                        </div>
                        <div class="vision-content">
                            <h4>
PARTNERSHIP</h4>
                            <p>Our vision is to develop partnerships that provide opportunities to grow together, by providing access to working capital, tailored to each client.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
 