<div class="abc">
  <section class="cont">
  <div class="col-xs-12 col-md-12" style="margin-top: 54px; margin-bottom: 30px">
    <article >
    <h3>
      Make your FinChainPay experience better with these permissions
    </h3>
    </article>
  </div>
    <div class="row">
      <div>
        <p><img src="assets/FINPAYIMG/sms.png">
          <b>SMS</b><br>
          <span>Helps understand your financial behaviour</span></p>
      </div><br>
      <div>
        <p><img src="assets/FINPAYIMG/device.png">
          <b>Device</b><br>
          Helps understand your financial behaviour</p>
      </div><br>
      <div>
        <p><img src="assets/FINPAYIMG/contacts.png">
          <b>Contacts</b><br>
          Helps understand your financial behaviour</p>
      </div><br>
      <div>
        <p><img src="assets/FINPAYIMG/location.png">
          <b>Location</b><br>
          Helps understand your financial behaviour</p>
      </div>
    </div>
    <button class="btn btn-primary" (click)="perm()" style="float:right">-></button>
  </section>
  <section class="footer">
      <div class="col-md-12 col-xs-12">
      We keep your data safe and secure<br>
      <b>Read our Privacy policy.</b>
      </div>
</section>
</div>