<div class="container-fluid main">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#" id="log1">FINCHAINPAY</a>
      </div>
      <div class="collapse navbar-collapse navdiv" id="myNavbar" style="float:right">
        <ul class="nav navbar-nav">
          <li><a routerLink="/finchainpay/shopping-loan">For Shopping</a></li>
          <li><a routerLink="/finchainpay/offers">Offers</a></li>
          <li><a routerLink="/finchainpay/need-help">Need Help?</a></li>
          <li><a routerLink="/finchainpay/flow-login">Pay Bill</a></li>
          <li><a routerLink="/finchainpay/flow-login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="col-md-12 col-sm-12 col-xs-12 backdiv">
<div class="txtdiv">Shop Now.Pay later.
</div>
<div class="sub-text">Flexible no-cost payment options on your favourite merchants</div>
<div class="subsubtxt">
	<ul><li>One-tap payment</li>
		<li>Settle your payments once every 30 days</li>
		<li>Repay via affordable instalment plans (No-cost EMI available)</li>
		<li>Accepted across 250+ websites and apps</li>
	</ul>
</div>
<div>
	<button class="grad-cta"><a routerLink="/finchainpay/flow-login">SET YOUR LIMIT</a></button>
</div>
<div class="expand-more">
	<a href="#shooping">
	  <span class="glyphicon glyphicon-menu-down icndiv"></span>
	  </a>
</div>
</div>

<div id="shooping" class="col-md-12">
<div class="headiv">
	<div class="headtxt">Choose How to Shop</div>
</div>
<div class=" col-md-5 col-md-offset-1">
	<div class="body-wrapper">
		<div class="title-wrapper col-md-4">
			<span class="glyphicon glyphicon-shopping-cart"></span>
		</div>
		<div class="txttile col-md-8">
			<p class="header-txt">Shop directly on your favorite apps</p>
			<ul class="listxt">
				<li>
					<span style="padding-left: 15px;">Pay full amount after 15 days</span>
				</li>
				<li>
					<span style="padding-left: 15px">Pay in 3, 6, 9, 12 month EMI plans</span>
				</li>
			</ul>
			<p class="scrol-text">Click here to Know More</p>
		</div>
		<div class="merchants-placeholder-position">
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/neha-websitelogos/swiggy.jpg">
				<div class="txt fonts">
					Swiggy
				</div>
			</div>
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/neha-websitelogos/make+my+trip.jpg">
				<div class="txt fonts">MakeMyTrip</div>
			</div>
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/neha-websitelogos/book+my+show.jpg">
				<div class="txt fonts">BookMyShow</div></div>
			</div>
	</div>
</div>
<div class=" col-md-5">
	<div class="body-wrapper">
		<div class="title-wrapper col-md-4">
			<span class="glyphicon glyphicon-gift"></span>
		</div>
		<div class="txttile col-md-8">
			<p class="header-txt">Buy a Gift voucher to shop on the website</p>
			<ul class="listxt">
				<li>
					<span style="padding-left: 15px;">Pay full amount after 15 days</span>
				</li>
				<li>
					<span style="padding-left: 15px">Pay in 3, 6, 9, 12 month EMI plans</span>
				</li>
			</ul>
			<p class="scrol-text">Click here to Know More</p>
		</div>
		<div class="merchants-placeholder-position">
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/neha-websitelogos/flipkart.jpg">
				<div class="txt fonts">
					Flipkart
				</div>
			</div>
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Amazon_pay_bw+logo.png">
				<div class="txt fonts">Amazon</div>
			</div>
			</div>
	</div>
</div>
<div class=" col-md-5 col-md-offset-1">
	<div class="body-wrapper">
		<div class="title-wrapper col-md-4">
			<span class="glyphicon glyphicon-qrcode"></span>
		</div>
		<div class="txttile col-md-8">
			<p class="header-txt">Scan & Pay at any store</p>
			<ul class="listxt">
				<li>
					<span style="padding-left: 15px;">Pay full amount after 15 days</span>
				</li>
				<li>
					<span style="padding-left: 15px">Pay in 3, 6, 9, 12 month EMI plans</span>
				</li>
			</ul>
			<p class="scrol-text">Click here to Know More</p>
		</div>
		<div class="merchants-placeholder-position">
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/UPI-web/tea-shop.jpg">
				<div class="txt fonts">
					Tea shops
				</div>
			</div>
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/UPI-web/grocery.jpg">
				<div class="txt fonts">Grocery</div>
			</div>
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
			<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/UPI-web/fuel.svg">
				<div class="txt fonts">Petrol bunk</div></div>
			</div>
	</div>
</div>
<div class=" col-md-5">
	<div class="body-wrapper">
		<div class="title-wrapper col-md-4">
			<span class="glyphicon glyphicon-tasks"></span>
		</div>
		<div class="txttile col-md-8">
			<p class="header-txt">Use FinchainPAY UPI ID to pay online</p>
			<ul class="listxt">
				<li>
					<span style="padding-left: 15px;">Pay full amount after 15 days</span>
				</li>
				<li>
					<span style="padding-left: 15px">Pay in 3, 6, 9, 12 month EMI plans</span>
				</li>
			</ul>
			<p class="scrol-text">Click here to Know More</p>
		</div>
		<div class="merchants-placeholder-position">
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/neha-websitelogos/bill+payments.svg">
				<div class="txt fonts">
					Bill Payment
				</div>
			</div>
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/neha-websitelogos/online+shopping.svg">
				<div class="txt fonts">Online Shopping</div>
			</div>
			<div class="img-container" style="margin-right: 0px; margin-left: 15px; margin-bottom: 0px;">
				<img alt="" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/neha-websitelogos/cab+booking.svg">
				<div class="txt fonts"> 
				Cab Bookings</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>
<!-- --------------------1st-------------- -->
<div class="col-md-12">
	<div class="main">
		<div class="header-wrap">
			<div class="header-container">
				<div class="row header-block">
					<div class="block-heading">
						<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
    <path fill="#22244C" fill-rule="evenodd" d="M24 64c-4.4 0-7.96 3.602-7.96 8 0 4.402 3.56 8 7.96 8s8-3.598 8-8c0-4.398-3.6-8-8-8zM0 0v8h8l14.4 30.362-5.4 9.8A7.72 7.72 0 0 0 16 52c0 4.402 3.6 8 8 8h48v-8H25.68c-.56 0-1-.44-1-1l.12-.48L28.4 44h29.8c3 0 5.64-1.638 7-4.118l14.32-25.96c.32-.56.48-1.242.48-1.922 0-2.2-1.8-4-4-4H16.84l-3.76-8H0zm64 64c-4.4 0-7.96 3.602-7.96 8 0 4.402 3.56 8 7.96 8s8-3.598 8-8c0-4.398-3.6-8-8-8z"/>
                        </svg>
						<div class="heading-text">Shop directly on partner websites/apps</div>
					</div>
					<div class="menu-wrapper" id="myDiv">
						<button class="btnn active" (click)="activefun('first')">How to Shop</button>
						<button class="btnn" (click)="activefun('second')">How to Repay</button>
						<!-- <div class="menu-item">Partner Merchants</div> -->
					</div>
				</div>
			</div>
			<div class="row section-block" [ngClass]="displyfirst">
					<div class=" col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							1
						</div>
						<div class="block-heading">Go to your favourite website/app</div>
						<div class="block-text">
							Find your favourite website/app in the list of our 250+ partner merchants. 
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							2
						</div>
						<div class="block-heading">Find FinchainPAY on Checkout</div>
						<div class="block-text">
							Find FinchainPAY payment option under Pay Later or Cardless EMI category
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							3
						</div>
						<div class="block-heading">Confirm Purchase</div>
						<div class="block-text">
							"Confirm purchase with one tap. First time users will be asked to verify their mobile number with OTP"
						</div>
					</div>
				</div>
				<div class="row section-block" [ngClass]="displysecond">
					<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 block-container">
						<div class="">
							<img src="https://images.lazypay.in/Website-2019/hot-to-repay-full.svg" width="66" height="66">
						</div>
						<div class="block-heading">Pay Later in full</div>
						<div class="block-text">
							"You get up to 30 days to pay for your order. You can stack all your purchases and pay all at once. No added interest"
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 block-container">
						<div class="">
							<img src="https://images.lazypay.in/Website-2019/hot-to-repay-emi.svg" width="66" height="66">  
						</div>
						<div class="block-heading">Pay Later in EMI</div>
						<div class="block-text">
							"Spread your repayment into easy EMIs at Zero cost or affordable interest rates. Apply online with simple steps, and receive an instant approval decision"
						</div>
					</div>
				</div>
		</div>
	</div>
	<!-- ---------------------2nd step--------------- -->
	<div class="main">
		<div class="header-wrap">
			<div class="header-container">
				<div class="row header-block">
					<div class="block-heading">
						<img alt="bnpl" class="img" src="https://s3.ap-south-1.amazonaws.com/images.lazypay.in/Website-2019/bnpl.svg">
						<div class="heading-text">Buy a Gift voucher to shop on the website</div>
					</div>
					<div class="menu-wrapper" id="myDiv">
						<button class="btnn active" (click)="activefun1('first')">How to Shop</button>
						<button class="btnn" (click)="activefun1('second')">How to Repay</button>
						<!-- <div class="menu-item">Partner Merchants</div> -->
					</div>
				</div>
			</div>
			<div class="row section-block" [ngClass]="displyfirst1">
					<div class=" col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							1
						</div>
						<div class="block-heading">Choose online store</div>
						<div class="block-text">
							"Choose your favourite online store on our website and enter the amount you want to shop for."
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							2
						</div>
						<div class="block-heading">Pick a Plan & Activate</div>
						<div class="block-text">
						"Apply online for 3/6/9/12 month EMI plans and activate your credit limit."						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							3
						</div>
						<div class="block-heading">Voucher Code</div>
						<div class="block-text">
							"Once activated, you will receive your voucher code against your credit line. Redeem the code on the brand's website." 
						</div>
					</div>
				</div>
				<div class="row section-block" [ngClass]="displysecond1">
					<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 block-container">
						<div class="">
							<img src="https://images.lazypay.in/Website-2019/hot-to-repay-full.svg" width="66" height="66">
						</div>
						<div class="block-heading">Pay Later in full</div>
						<div class="block-text">
							"You get up to 30 days to pay for your order. You can stack all your purchases and pay all at once. No added interest."
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 block-container">
						<div class="">
							<img src="https://images.lazypay.in/Website-2019/hot-to-repay-emi.svg" width="66" height="66">  
						</div>
						<div class="block-heading">Pay Later in EMI</div>
						<div class="block-text">
							"Spread your repayment into easy EMIs at Zero cost or affordable interest rates. Apply online with simple steps, and receive an instant approval decision"
						</div>
					</div>
				</div>
		</div>
	</div>

	<!-- -----------------------------3rd---------------- -->
	<div class="main">
		<div class="header-wrap">
			<div class="header-container">
				<div class="row header-block">
					<div class="block-heading">
						<span class="glyphicon glyphicon-qrcode"></span>
						<div class="heading-text">Scan & Pay at any store</div>
					</div>
					<div class="menu-wrapper" id="myDiv">
						<button class="btnn active" (click)="activefun2('first')">How to Shop</button>
						<button class="btnn" (click)="activefun2('second')">How to Repay</button>
						<!-- <div class="menu-item">Partner Merchants</div> -->
					</div>
				</div>
			</div>
			<div class="row section-block" [ngClass]="displyfirst2">
					<div class=" col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							1
						</div>
						<div class="block-heading">Scan BHIM QR Code</div>
						<div class="block-text">
							"Open the LazyPay App. Go the Scan &amp; Pay tab. Simply, scan the store’s BHIM QR Code" 
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							2
						</div>
						<div class="block-heading">Enter the Amount</div>
						<div class="block-text">
							"Input the amount you need to pay at the store"
						</div>
					</div>
					<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 block-container">
						<div class="block-number">
							3
						</div>
						<div class="block-heading">Choose Repayment Option</div>
						<div class="block-text">
							"Select how you want to make the payment - one-time or EMI"
						</div>
					</div>
				</div>
				<div class="row section-block" [ngClass]="displysecond2">
					<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 block-container">
						<div class="">
							<img src="https://images.lazypay.in/Website-2019/hot-to-repay-full.svg" width="66" height="66">
						</div>
						<div class="block-heading">Pay Later in full</div>
						<div class="block-text">
							"You get up to 30 days to pay for your order. You can stack all your purchases and pay all at once. No added interest."
						</div>
					</div>
					<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 block-container">
						<div class="">
							<img src="https://images.lazypay.in/Website-2019/hot-to-repay-emi.svg" width="66" height="66">  
						</div>
						<div class="block-heading">Pay Later in EMI</div>
						<div class="block-text">
							"Spread your repayment into easy EMIs at Zero cost or affordable interest rates. Apply online with simple steps, and receive an instant approval decision"
						</div>
					</div>
				</div>
		</div>
	</div>
</div>




<div class="col-md-12 backgrnddiv">
	<div class="blue-theme">
		Why FinchainPAY?
	</div>
	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 bodydiv">
		<div class="col-md-4 col-sm-4 col-xs-4 step">
			<svg xmlns="http://www.w3.org/2000/svg" width="72" height="48" viewBox="0 0 72 48">
    <path fill="#ffffff" fill-rule="evenodd" d="M12 6h54V0H12C8.7 0 6 2.7 6 6v33H0v9h42v-9H12V6zm57 6H51c-1.65 0-3 1.35-3 3v30c0 1.65 1.35 3 3 3h18c1.65 0 3-1.35 3-3V15c0-1.65-1.35-3-3-3zm-15 6h12v21H54V18z"/>
            </svg>
			<p class="text pink-theme">Complete Digital Process</p>
			<p class="sub-text pink-theme">Check your eligibility for a limit within minutes, with just a few details</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 step">
			<svg xmlns="http://www.w3.org/2000/svg" width="54" height="66" viewBox="0 0 54 66">
    <path fill="#ffffff" fill-rule="evenodd" d="M27 0L0 12v18c0 16.65 11.52 32.22 27 36 15.48-3.78 27-19.35 27-36V12L27 0zm0 32.97h21c-1.59 12.36-9.84 23.37-21 26.82V33H6V15.9l21-9.33v26.4z"/>
            </svg>
			<p class="text pink-theme">Secure</p>
			<p class="sub-text pink-theme">We maintain the highest level of security, rest assured all your information is safe with us</p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4 step">
			<svg xmlns="http://www.w3.org/2000/svg" width="48" height="50" viewBox="0 0 48 50">
    <path fill="#ffffff" fill-rule="evenodd" d="M6 0C2.7 0 .03 2.25.03 5L0 45c0 2.75 2.67 5 5.97 5H42c3.3 0 6-2.25 6-5V15L30 0H6zm21 17.5V3.75L43.5 17.5H27z"/>
            </svg>
			<p class="text pink-theme">Minimal Documentation</p>
			<p class="sub-text pink-theme">With just your PAN, Aadhaar &amp; photograph, you can get access to funds</p>
		</div>
	</div>
</div>
<!-- <footer>
	<div class="footer">
		<div class="ffot">
			<p class="ffty">FinchainPAY</p>
			<p class="new" style="font-size: 10px;">We are a part of PayYOU a leading  financial services provider in global growth markets.</p>
		</div>
	</div>
</footer> -->
