<div class="body">
<div class="container">
	<i class="material-icons">close</i>
	<div class="col-xs-12 col-md-12">
		<h3><b>FINCHAINPAY</b> gives you a credit limit up to ₹15,000 for</h3>
	</div>

	<div class="col-xs-12 col-md-12">
		<div class="row">
		<mat-card class="card">
			<img src="/assets/shop.jpeg" alt="Smiley face" height="42" width="42">
			<mat-card-title>Pay Later</mat-card-title>
			<mat-card-subtitle>on favourite apps/websites</mat-card-subtitle>
			
		</mat-card>
		</div>
	</div>

	<div class="col-xs-12 col-md-12">
		<div class="row">
		<mat-card class="card">
			<img src="/assets/Emi.png" alt="Smiley face" height="42" width="42">
			<mat-card-title>EMI Plans</mat-card-title>
			<mat-card-subtitle>for travel, gadgets etc</mat-card-subtitle>
		</mat-card>
		</div>
	</div>
</div>
		<div id="titl"><h4>Why choose FinchainPay?</h4><br></div>
		

	<div class="row">
		<div class="abc" col-xs-12 col-md-12>
			<div col-xs-3 col-md-3>
			<i class="fa fa-camera" aria-hidden="true" id="icon"></i>
			<p>Paperless Process</p>
		</div>
		<div id="pap" col-xs-3 col-md-3>
			<i class="fa fa-percent" aria-hidden="true" id="icon"></i>

			<p>Affordable Interest</p>
		</div>
		<div id="pap" col-xs-3 col-md-3>
			<i class="fa fa-calendar" aria-hidden="true" id="icon"></i>
			<p>Easy Repayment</p>
		</div>
		</div>
	</div>


	 <button type="button" class="btn btn-primary" (click)="get()" >GET IT NOW</button>


</div>