.right-section {
    background-color: transparent;
    width: 37%;
    float: right;
}
.nopadding {
    padding: 0px !important;
}
.paymentdetails-blank-block, .statementsdetails-blank-block {
    padding: 10px 100px;
    margin: 0 10px;
    border-top: 1px solid #e5e5e5;
    min-height: 300px;
}
.payment-block, .stmt-block {
    border: 1.5px solid #757575;
    margin: 20px auto;
    width: 65%;
    border-radius: 5px;
}
.view-all {
    font-size: 12px;
    text-decoration: underline;
    text-transform: capitalize;
}
.payment-block .pay-amt,.stmt-amtblock {
    width: 18%;
    float: right;
    margin-top: -30px;
}
h3{
    padding: 1px;
    font-size: 17px;
    margin-left: 13px;
    font-weight: bold;
}
.left-section {
    width: 63%;
    z-index: 1;
}
.amountblock-section {
    padding: 20px 20px;
}
.amount-block {
    border: 1.5px solid #757575;
    padding: 52px;
    margin-left: 80px;
    margin-right: -60px;
    border-radius: 17px;
}
.os-amt-stmt {
    text-align: left;
    float: left;
}
.os-amt-stmt p {
    padding-bottom: 10px;
}
p {
    margin: -16px 0px -6px;
}
.paynow-block {
    float: right;
}
.button.btn-paynow {
    padding: 10px 0;
    background-color: #154de6;
    border: 2px solid #1577e6;
    border-radius: 30px;
}
.button.btn-paynow {
    color: #fff;
    width: 130px;
    margin-top: -20px;
}
.os-amt {
    float: right;
    text-align: right;
    padding-right: 20px;
}
.trans-table-block .trans-table-block-head{
    border-bottom: 1px solid #C5C5C5;
    padding: 3px 0px;
    margin-left: 102px;
    margin-right: -38px;
}
.trans-table-block-head-text {
    font-weight: bold;
    text-align: left;
    width: 60%;
}
.trans-table-block-head-text1{
    float: right;
    padding-right: 60px;
    margin-top: -13px;
}
.trans-opts select {
    width: 131px;
    float: right;
    border: 1px solid #c7c7c7;
    padding: 10px;
    background: white;
    border-radius: 12px;
}
.trans-date{
    width: 181px;
    border: 1px solid #c7c7c7;
    padding: 10px;
    background: white;
    border-radius: 12px;
}
#txn_block{
    text-align: center;
}
.act{
    text-align: center;
    font-weight: bold;
}
.now{
    border-radius: 8px;
    font-weight: bold;
    color: blue;
    background: aliceblue;
}
#save{
    width: 15%;
    border-radius: 5px;
    height: 34px;
}
#b{
    margin-left: 22px;
    margin-top: -20px;
}
.item{
    text-align: left;
}


@media screen and (max-width:700px){

.left-section,.right-section{
    width: 100%;
}
}
