<div class="container-fluid">
	<h2 style="color: #0056b3;"> FINCHAINPAY </h2>
	<h5 style="color: #0056b3; margin-top: 25px; margin-left: 75px;"> FinchainPay gives you instant</h5> 
		<h5 style="color: #0056b3; margin-top: -5px; margin-left: 125px;">  credit limit for</h5>

		  <div class="col-md-2 set">
		  	<!-- <img class="set1" src="/assets/fin/percent-circle-outline.png"> -->
		  	<img class="set5"src="/assets/fin/Google-Calendar-icon.png">
		  <p id="marg2"> EMI</p>
		   <!-- <p id="marg">Personal Loan</p> -->
		  </div>

		  <div class="col-md-2 set2">
		  	<img class="set3"src="/assets/fin/12-512.png">
		   <p id="marg1"> Pay Later</p>
		  </div>

		  <!--  <div class="col-md-2 set4">
		  	<img class="set5"src="/assets/fin/Google-Calendar-icon.png">
		  <p id="marg2"> EMI</p>
		  </div> -->


<button type="button" class="btn btn-primary" (click)="get()">Get Started</button>



</div>
