<div class="container-fluid main">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" id="log1">FINCHAINPAY</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar" style="float:right">
        <ul class="nav navbar-nav">
          <li><a routerLink="/finchainpay/shopping-loan">For Shopping</a></li>
          <li><a routerLink="/finchainpay/offers">Offers</a></li>
          <li><a routerLink="/finchainpay/need-help">Need Help?</a></li>
          <li><a  routerLink="/finchainpay/flow-login" >Pay Bill
             <!-- <button class="btn btn-info"
              data-toggle="modal" data-target="#myModal"> 
      
            </button> -->
          </a></li>
          <li><a routerLink="/finchainpay/flow-login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" role="listbox">
      <div class="item active background a"></div>
      <div class="item background b"></div>
      <div class="item background c"></div>
    </div>
  </div>

  <div class="covertext">
    <div class="col-lg-10" style="float:none; margin:0 auto;">
      <h1 class="title">FinchainPay</h1>
      <h3 class="subtitle">A Tidy, Clean, Easy-to-Use, and Responsive Landing Page Template</h3>
    </div>
    <div class="col-xs-12 explore">
      <a [routerLink]="['/finchainpay/flow-login']"><button type="button" class="btn btn-lg explorebtn">GET STARTED</button></a>
    </div>
  </div>

  <div class="row main-div">
    <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6">
      <div class="text-div">
        <p class="text-heading">Shop Now and Pay Later</p>
        <ul class="list-css">
          <li>One-tap payment</li>
          <li>Settle your payments once every 15 days</li>
          <li>Convert your purchase into affordable Instalment plans (No cost EMI available)</li>
          <li>Accepted at over 250+ merchant partners</li>
        </ul>
        <div class="img-div">
          <div class="card-div">
            <img src="/assets/FINPAYIMG/swiggy.jpg" alt="Swiggy">
            <div class="text">
              Swiggy
            </div>
          </div>
          <div class="card-div">
            <img src="/assets/FINPAYIMG/flipkart.jpg" alt="Swiggy">
            <div class="text">
              Flipkart
            </div>
          </div>
          <div class="card-div">
            <img src="/assets/FINPAYIMG/book+my+show.jpg" alt="Swiggy">
            <div class="text">
              BookMyShow
            </div>
          </div>
          <div class="card-div">
            <img src="/assets/FINPAYIMG/make+my+trip.jpg" alt="Swiggy">
            <div class="text">
              MakeMYTrip
            </div>
          </div>
        </div>
        <div class="btn-div">
          <button class="bton">VIEW DETAILS</button>
        </div>
      </div>
    </div>
    <div class=" col-sm-12 col-xs-12 col-md-6 col-lg-6">
      <div class="side-img">
        <img src="/assets/FINPAYIMG/laptop.jpg" alt="sideimg">
      </div>
    </div>
  </div>
  <div class="row main-div">
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <div class="side-img" style="text-align: left;">
        <img src="/assets/FINPAYIMG/boygirl.jpg" alt="sideimg">
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <div class="text-div">
        <p class="text-heading">Shop Now and Pay Later</p>
        <ul class="list-css">
          <li>One-tap payment</li>
          <li>Settle your payments once every 15 days</li>
          <li>Convert your purchase into affordable Instalment plans (No cost EMI available)</li>
          <li>Accepted at over 250+ merchant partners</li>
        </ul>
        <div class="img-div">
          <div class="card-div">
            <div class="img-con">
              <i class="material-icons">flight</i>
            </div>
            <div class="text">
              Travel Loan
            </div>
          </div>
          <div class="card-div">
            <div class="img-con">
              <i class="material-icons">local_hospital</i>
            </div>
            <div class="text">
              Medical Loan
            </div>
          </div>
          <div class="card-div">
            <div class="img-con">
              <i class="material-icons">motorcycle</i>
            </div>
            <div class="text">
              Bike Loan
            </div>
          </div>
          <div class="card-div">
            <div class="img-con">
              <i class="material-icons">wc</i>
            </div>
            <div class="text">
              Wedding Loan
            </div>
          </div>
        </div>
        <div class="btn-div">
          <button class="bton">VIEW DETAILS</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="whyfinpay">
      <div class="fin-wrapper">
        <div class="heading">
            Why FinchainPay?
        </div>
        <div class="row fin-body-wrapper">
          <div class="steps col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <img width="72px" height="72px" src="assets/FINPAYIMG/ic1.svg">
            <p class="text">Complete Digital Process</p>
            <p class="sub-text">Check your eligibility for a limit within minutes, with just a few details</p>
          </div>
          <div class="steps col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <img width="72px" height="72px" src="assets/FINPAYIMG/ic2.svg">
            <p class="text">Secure</p>
            <p class="sub-text">We maintain the highest level of security, rest assured all your information is safe with us</p>
          </div>
          <div class="steps col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <img width="72px" height="72px" src="assets/FINPAYIMG/ic3.svg">
            <p class="text">Minimal Documentation</p>
            <p class="sub-text">With just your PAN, Aadhaar & photograph, you can get access to funds</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>