<div class="howitworks">
  <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
          <div class="row">
              <div style="margin-top: 12%;"><h1 class="helphead">Need Help?</h1></div>
              <p class="helppara">Don’t worry – we are here for you. But before we connect with you to help you further, do browse through the following links to determine if they can help answer your queries.</p>
              <ul class="helplinks">
                 <!--  <li><a routerLink="/borrowerlandingpage">Information for Borrowers</a></li>
                  <li><a routerLink="/faq/borrowersfaq">Borrower FAQs </a></li> -->
                  <li><a routerLink="/how-it-works">How FINCHAIN works</a></li>
              </ul>
              <h1 class="helphead" >Still in Doubt?</h1>
              <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6 contactdiv">
                          <h2 class="acceleratehead">Email us</h2>
                          <p class="contactuspara">
                              <!-- <p><strong>Borrowers:</strong><a class="contactustopa" routerLink="mailto:borrowers@realtimemoney.in">borrowers@realtimemoney.in</a></p> -->
                              <p><strong>Technical Support:</strong><a class="contactustopa" routerLink="mailto:support@rtmtech.zohosupport.com">sales@finchain.co.in</a></p>
                              <p><strong>General Information:</strong><a class="contactustopa" routerLink="mailto:info@realtimemoney.in"> Info@finchain.co.in</a></p>

                              <br>
                              <h2 class="acceleratehead">Call us</h2>
                          <p class="contactuspara"><a routerLink="tel:+918217707836">+91 6366643335</a></p>
                      </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 contactdiv">
                          <h2 class="acceleratehead">Mail</h2>
                          <p class="contactuspara"># 28/1, 15th Main, 1st Cross, next to SBI, Sahakar Nagar Bengaluru, Karnataka 560092</p>
                          
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <!-- <div class="col-xs-12  col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 goeswrong">
          <div class="row">
              <h1 class="helphead ">What should you do if something goes wrong?</h1>
              <p class="contactusreadypara">
                  If you have a problem, concern, or complaint about any part of our service, please tell us so we can try to fix the problem.
              </p>
              <p class="contactusreadypara">
                  You can contact our internal disputes service by phoning <a routerLink="tel:+910800 21 22 33"> 0800 21 22 33 </a>, sending an email to <a routerLink="mailto:complaints@realtimemoney.in">complaints@realtimemoney.in</a>.
              </p>
              <p class="contactusreadypara ">
                  This service will cost you nothing, and will help us resolve any disagreements.
              </p>
          </div>
      </div> -->
  

  </div>
</div>


