<h1 style="margin-top: 5%"><img alt="view profile" src="assets/images/View profile.png" align="center" style="width: 5%;">&nbsp; Lender's who requested your profile</h1>
          <div ng-show="requestbylenderloader">
           <div class=loader></div>
           </div>
<div>
    <table class="table table-striped  table-bordered text-center borrowersearchtable">
        <thead class="tableheader">
            <tr>
                <th style="text-align: center;">Serial No</th>
                <th style="text-align: center;">Lender Name</th>
                <th style="text-align: center;">Lender Number</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tr ng-show="borrowers.length>0" ng-repeat="data in borrowers">
           
            <td>
                <button ng-show="data.status=='Pending'" class="btn btn-primary" ng-click="acceptlender(data.mobile_number)">Accept</button>
                <button ng-show="data.status=='Pending'" class="btn btn-danger" ng-click="rejectlender(data.mobile_number)">Reject</button>
                <button ng-show="data.status!='Pending'" class="btn btn-danger ng-binding" ng-disabled="data.status!='Pending'">Upgraded<!-- {{data.status}} --></button>
            </td>
        </tr>
        <tr>
        <td ng-show="borrowers.length==0" colspan="4" class="text-center orangefont">No Requests Raised</td>
        </tr>
    </table>
</div>
