
    <div class="borrowerlandingpage">
        <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10 brldnpg">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 content">
                    <div class="col-xs-12 col-sm-6 col-md-6 borrowerlandmain">
                        <img alt="banner" src="assets/images/Banner-2-PNG.jpg">
                    </div>
                    <div class="col-xs-12 col-sm-6  col-md-6 sub-content text-center">
                        <h2>Get what you want, without <br>
                         breaking the bank</h2>
                        <div class="uldiv">
                            <ul class="custom-bullet">
                                <li>
                                    <p> &nbsp;&nbsp;Fast, easy & 100% online</p>
                                </li>
                                <li>
                                    <p> &nbsp; No hidden fees</p>
                                </li>
                                <li>
                                    <p> &nbsp; No early repayment penalties</p>
                                </li>
                                <li>
                                    <p> &nbsp;&nbsp;&nbsp;Rates from 11.99% p.a.</p>
                                </li>
                            </ul>
                        </div>
                        <!--    <div class="col-md-6">
                            <button class="blog text-justify">Borrower Blog</button>
                        </div> -->
                        <a  (click)="createBorrowerregtype()"><button id="comeon" class="apply anchor text-center">Create Account</button></a>
                    </div>
                </div>
            </div>
            <div  class="modal fade successregisteration" #Successregisteration role="dialog">
                <div class="modal-dialog" style="background:white;">
                    <div class="modal-header">
                        <h4 class="modal-title">Congratulations Company!</h4>
                    </div>
                    <div class="modal-body" >
                        <p id="messagestyle" style="text-align: center;">You have successfully registered with FINCHAIN</p>
                        <div id="buttonStyle" style="text-align: center;">
                            <button class="btn btn-primary " ng-click="Successregisteration()">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uldiv1">
                <h2 class="borrowerlandhead">Quick Links</h2>
                <ul class="text-left">
                    <li><a href="#creditscore"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Credit Score</a></li>
                    <li><a href="#insuranceonloans"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;Insurance On Loans</a></li>
                    <li><a href="#ptoplendingfootprint"><span class="glyphicon glyphicon-arrow-right"></span>&nbsp;NBFC lending footprint</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <h2 class="howitworksheading12 text-center borrowerlandhead1">Why get your personal loan through RTM?</h2>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="text-center borrowerlandimg">
                                    <img alt="personal" src="assets/images/BLP1.png">
                                    <p class="barrowersubhead"> <strong>100% online application.</strong></p>
                                </div>
                                <p class="text-justify howitworkspara1 borrowerparagraph">
                                    Apply for a loan from the comfort of your home, without any uncomfortable face-to-face meetings and tedious paperwork.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="text-center borrowerimg1">
                                    <img alt="rates" src="assets/images/BLP2.png">
                                    <p class="barrowersubhead"><strong>Rates from 11.99% p.a.</strong></p>
                                </div>
                                <p class="text-justify howitworkspara1 borrowerparagraph">
                                    Competitive and industry-leading interest rates starting at 11.99% p.a.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="text-center borrowerlandimg">
                                    <img alt="funded" src="assets/images/BLP3.png">
                                    <p class="barrowersubhead"><strong>98% loans funded within 12 hours</strong></p>
                                </div>
                                <p class="text-justify howitworkspara1 borrowerparagraph">
                                    Sign up, get verified, apply for a loan and receive the funds within 12 hours. Monitor the entire life of the loan from application progress, to repayment schedules, to loan closure.
                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="text-center borrowerlandimg">
                                    <img alt="secure" src="assets/images/BLP4.png">
                                    <p class="barrowersubhead"><strong>Transparent, safe secure community lending</strong> </p>
                                </div>
                                <p class="text-justify howitworkspara1 borrowerparagraph">
                                    No frills, hassle-free borrowing via a platform that features industry-grade 128-bit security and rigorous security-compliance measures.
                                </p>
                            </div>
                        </div>
                    </div>
                    <h2 class="howitworksheading12 text-center borrowerlandhead1">What do we look for in our borrowers?</h2>
                    <p class="text-center howitworkspara1 borrowerparagraph">
    The RTM's NBFC will work best for borrowers that pass the following creditworthiness checks.
        </p>
    
        <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="text-center borrowerlandimg" >
         <img alt="borrower" src="assets/images/BLP5.png">
         </div> 
        
       <p class="text-justify howitworkspara1 borrowerparagraph">
          We look for borrowers with strong Credit History as evidenced from their CIBIL report, with minimal or no loan defaults 
       </p>
    
        </div>
         <div class="col-xs-12 col-sm-6 col-md-6">  
        <div class="text-center borrowerlandimg" >
         <img src="assets/images/BLP6.png" alt="financial">
         </div> 
         <p class="text-justify howitworkspara1 borrowerparagraph">
       Borrowers with regular on time salaries, evidence of concrete work experience and financial performance of company (if self-employed), are some of the factors we look at.  
        </p> 
        </div>
        </div>
        </div>
    
    
          <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="text-center borrowerlandimg" >
         <img src="assets/images/BLP7.png" alt="calculate">
         </div> 
         <p class="text-justify howitworkspara1 borrowerparagraph">
    We calculate and predict your ability to repay loans based on your net take home income, outgoing expenditures, as well as a host of other factors
        </p>
        </div>
         <div class="col-xs-12 col-sm-6 col-md-6" >  
        <div class="text-center borrowerlandimg" >
         <img src="assets/images/BLP8.png" alt="expenditures">
         </div> 
         <p class="text-justify howitworkspara1 borrowerparagraph">
     We take a holistic look at your historical financial expenditures, expense patterns, and future projected performance to evaluate your Credit Score. 
        </p> 
        </div>
        </div>
        </div>
          <h2 class="howitworksheading12 text-center lenderlandhead">What are the eligibility criteria to Borrow on RTM?</h2>
                        <p class="text-center howitworkspara1" style="padding: 5px;">
                            To become an individual Borrower and Borrow on RTM, you must meet the following minimum requirements:
                        </p>
                        <div class="text-center landingimg hidden-xs" style="padding: 11px;" >
                            <img  src="assets/images/BLP15.PNG" alt="">
                        </div>
                        <div class="text-center landingimg visible-xs" style="padding: 11px;" >
                            <img  src="assets/images/BLP15.PNG" alt="eligibility">
                        </div>
                        <div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
                            <p class=" howitworkspara1" style="padding: 5px;">
                                We also welcome Borrower companies to borrow through RTM and require that companies meet the following minimum eligibility criteria: </p>
                        </div>
                        <div class="text-center landingimg hidden-xs" style=" padding: 8px;" >
                            <img  src="assets/images/LLP8.PNG" alt="">
                        </div>
                        <div class="text-center landingimg visible-xs" style=" padding: 8px;" >
                            <img  src="assets/images/LLP13.PNG" alt="">
                        </div>
    
                        <div class="col-xs-12 col-sm-12 col-md-12">
                  <div class="row">
    
                    <h2 class="howitworksheading12 text-center borrowerlandhead1">What methods can I use to borrow money through RTM?</h2>
    
                    <p class="text-justify howitworkspara1 borrowerlandpara">
                           At RTM, we realized that real-world, practicable lending solutions are the need of the day. Through extensive field tests and focus group sessions with borrowers in Karnataka, we discovered that the current crop of alternative lending platforms do not offer flexible borrowing as part of their gamut of services. As a result, customers using these platforms were being tied down with rigid loan agreements that did not adapt to their requirements.
                       
                          We saw this as an opportunity waiting to be addressed. How? We devised a few scenarios which most closely represent everyday borrowing. But before we dive into each scenario, we want you to understand the concept of a Credit Limit on RTM.</p>
                       
                           <p class="text-justify howitworkspara1 borrowerlandpara">A Credit Limit is assigned to each borrower who registers on RTM. It is a threshold value that indicates the total amount you are eligible to borrow via RTM. The Credit Limit is derived from the financial information we collect from you in your account statements, salary slips, etc. 
                        
                           Think of the Credit Limit as a ceiling for your capacity to borrow on RTM. The sum of your ongoing loans in RTM and any new loans you are requesting on RTM must not exceed the Credit Limit. The following example illustrates this concept:
                        </p>
                        <p class="text-justify howitworkspara1 borrowerlandpara">
                            Let us suppose that you are assigned a Credit Limit of ₹ 2,00,000 on RTM.
                      
                           You have ongoing loans on RTM which total ₹ 1,00,000. Lets call this amount A.
                    
                           You are requesting for a new loan on RTM for ₹ 50,000. Let us call this amount B.
                           Rule:<strong> A + B ≤ Credit Limit</strong>
                      
                          In this case, 1,00,000 + 50,000 ≤ 2,00,000. As this is valid, your request for the new loan of ₹ 50,000 is also valid, and you can proceed to request for this loan on RTM.
                        </p>
                        <p class="text-justify howitworkspara1 borrowerlandpara">
                           The Credit Limit is closely linked to the scenarios we have developed. Read on below to understand how each scenario makes borrowing simpler, faster and adaptable to your everyday needs.
                        </p>
                         <div class="col-xs-12 col-sm-12 col-md-12">
    
                    <h3 class="howitworksheading12 text-center orangefont" style="padding: 10px;">Scenario One: Silver Plan</h3>
                <div class=" borrowerlandimg1 text-center">
                           <img src="assets/images/Silver.png" alt="register">
                </div>
                <div>
                     <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                           When you register as a borrower and join our growing family of borrowers on RTM, you become a Silver Plan member of the marketplace. The Silver Plan enables you to borrow money from RTM's NBFC as long as the total of the funds you request for as well as funds from your ongoing loans fall within your Credit Limit. 
                        </p>
                        <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                           This constitutes Scenario One.
                        </p>
                        </div>
                    </div>
    
                           <div class="col-xs-12 col-sm-12 col-md-12">
    
                    <h3 class="howitworksheading12 text-center orangefont" style="padding: 10px;">Scenario Two: Gold Plan</h3>
    
                     <div class=" text-center borrowerimg5" >
    
                           <img src="assets/images/512by512.png" alt="apply">
                        </div>
                        <div>
                     <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                           Now let’s say a borrower wants to apply for a loan. Unfortunately, this loan exceeds the borrower’s Credit Limit, and he is unable to place his request for this loan on the marketplace. What can the borrower do now? 
                        </p>
                        <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                           In this situation, the borrower can get in touch with a NBFC known to him/her and provide the NBFC with his/her unique Virtual ID. The Virtual ID is powerful tool for borrowers  to identify and interact with RTM's NBFC. Using the Virtual ID, the NBFC can look up the borrower in on RTM and can upgrade the borrower to the Gold Plan, thereby increasing the borrower’s Credit Limit. Now the RTM's NBFC will be able to successfully lend money to the same borrower. 
                        </p>
                        <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                        This constitutes Scenario Two. class="bults"
                        </p>
                        </div>
                    </div>
                    <!-- <div class="col-xs-12 col-sm-12 col-md-12">
    
                    <h3 class="howitworksheading12 text-center orangefont" style="padding: 10px;">Scenario Three: Platinum Plan</h3>
                     <div class="borrowerimg6 text-center">
    
                           <img src="images/Final-Platinum.png">
                        </div>
                        <div> -->
                    <!--  <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                          In this third scenarios, let’s say a borrower wants to apply for a loan. Unfortunately, this loan exceeds the borrower’s Credit Limit. The borrower decides to get in touch with a lender known to him/her to request for the loan. However the lender is unable to lend to the borrower because the lender feels that he/she already has far too many ongoing loans to other borrowers on RTM. But the lender still wants to extend a helping hand to the borrower. What should the borrower and lender do now?
                        </p> -->
                        <!-- <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                           In this situation, the borrower can provide the lender with his/her Virtual ID. Using the Virtual ID, the lender can look up the borrower on RTM and upgrade the borrower to the Platinum plan. By upgrading the borrower to Platinum, the lender becomes the guarantor for the borrower’s ability to repay the loan. To guarantee the borrower, the lender will need to provide RTM with a promissory note agreeing to fund the borrower. The borrower can now request for a loan on RTM. This constitutes Scenario Three.
                        </p> -->
    
                         <!-- <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                            The above scenarios have been tailored to give you - the borrower - maximum flexibility in your lending decisions. Through the Virtual ID concept, we are also helping lenders connect with you individually on RTM to service your loan requirements.
                        </p> -->
                        <p class="text-justify howitworkspara1 borrowerparagraph borrowerlandpara">
                         Our unique, borrower-centric loan plans are a first in the NBFC lending industry. We invite you to take advantage of these plans by embarking on your journey with us on RTM. Sign Up or Login today!
                        </p>
                        </div>
                    </div>
                    </div>
                    </div>
               </div>
            </div>
        <!-- </div>
    </div> -->
   
  
    