<div class="contatiner-fluid">
   
    <h5 mat-dialog-title>Privacy & Security Policy!</h5>
    <mat-dialog-content>
             <app-privacypolicy></app-privacypolicy>
            </mat-dialog-content>
    <mat-dialog-actions>
        <div class="userActionButtonGroup">
            <button class="btn btn-warning" type="button" (click)="closepopup()">close</button>
        </div>
      <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    </mat-dialog-actions>
    
    </div>