.tablest{
    width:100%;
}


@media screen and (max-width:500px){
.tablest{
    width: 65%;
    margin-left:60px;
}

}


@media screen and (max-width:500px){
.sizzz{
        margin-left: 12px;
    font-size: 16px;
    border: 1px solid black;
}

}




#actdeactstyle{
    margin-top: 21px;
}

#buttontocenter {
    text-align: center;
}
.spss{
        color: white;
}
#pdfstylebutton {
    background: -webkit-linear-gradient(left, rgb(96, 125, 139), rgb(96, 125, 139));
    color: transparent;
}
#uploadwhileedit {
    margin-left: 300px;
    margin-top: -45px;
    font-size: 12px;
    padding: 4px;
}

@media screen and (max-width:500px){
#uploadwhileedit {
        margin-left: 26px;
    margin-top: 12px;
    font-size: 12px;
    padding: 4px;
}

}


#firstRmTable {
    width: 49%;
}
#popupBodyStyle {
    font-weight: bold;
}


#profileHead1 {
    text-align: center;
    background: cadetblue;
    padding: 5px;
    color: white;
    font-variant: small-caps;
}

#profileHead {
    text-align: center;
    background: cadetblue;
    padding: 5px;
    color: white;
    font-variant: small-caps;
}

#popupTableBottom {
    margin-bottom: 22px;
}


@media screen and (max-width:500px){

#popupTableBottom {
         margin-bottom: 22px;
    -webkit-transform: scale(.6);
    transform: scale(.5);
    width: 210%;
    position: relative;
    margin-left: -55%;

}

}


.scrremove
{
     overflow-x: hidden;   
}
.myButtonedit {
    -moz-box-shadow: inset 0px 39px 0px -24px #276873;
    -webkit-box-shadow: inset 0px 39px 0px -24px #276873;
    box-shadow: inset 0px 39px 0px -24px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
    background-color: #599bb3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #29668f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.myButtonedit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
    background-color: #408c99;
}

.myButtonedit:active {
    position: relative;
    top: 1px;
}


#alignInPopup {
    /*text-align: right;*/
    margin-bottom: 14px;
}
.backg{
      background-color: whitesmoke;
   width: 159%;
    margin-left: -66px;

}
.fade {
        opacity: 1;

    }

#spanmessage {
    font-size: 20px;
    color: red;
}
#assignmyself {
    -moz-box-shadow: 0px 10px 14px -7px #3e7327;
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
    box-shadow: 0px 10px 14px -7px #3e7327;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
    background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
    background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
    background-color:#77b55a;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #4b8f29;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:14px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
    margin-top: 15px;
}
#assignmyself:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
    background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
    background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
    background-color:#72b352;
}
#assignmyself:active {
    position:relative;
    top:1px;
}

#disbursementMargin {
    margin-left: 0px;
    border: none;
    height: 100%;
}
#itemperpagestyle {
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    background: white;
    padding: 10px;
    font-weight: bold;
}
#itemsperpagemargin {
    float: right;
    margin-top: 10px;
}

.manageborrowerPage {
    margin-left: 0px;
    margin-top: 8px;
}


#visitedborr1 {
    font-size: 27px;
    margin-left: 341px;
    font-style: normal;
    font-weight: bolder;
    color: brown;
}
.adminsearchbox1 {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 8px;
    background: whitesmoke;
    color: brown;
    /*DarshanST*/
    text-align: center;
}

.adminsearchbox1:focus {
    /*DarshanST*/
    width: 60%;
    background: white;
}


#myloanhead {
    background: beige;
    color: #333333;
}


#myduesbody {
    background: whitesmoke;
    color: black;
}

.applicationbutton {
    border-radius: 4px;
    background-color: #408c99;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    /* padding: 28px; */
    width: 151px;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 4px; */
    margin-top: 14px;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-shadow: 0px 10px 14px -7px #333;
    
}

.applicationbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.applicationbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.applicationbutton:hover span {
  padding-right: 25px;
}

.applicationbutton:hover span:after {
  opacity: 1;
  right: 0;
}





















@media only screen and (min-width:320px) and (max-width: 767px) {
    #adminMobileMenu {
        list-style: none;
        text-align: center;
        margin-top: 20px;
    }

       #disbursementMargin {
        margin-top: 30px;
        height: 100%;
    }
    .adminsearchbox1{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 23px;
    background: whitesmoke;
    color: brown;
}

#visitedborr {
    font-size: 27px;
    margin-left: 61px;
    font-style: oblique;
    font-weight: bolder;
    color: brown;
}

    #buttontocenter {
    text-align: center;
    }

#actdeactstyle {
        margin-top: 21px;
    }





}
