
<div class="howitworks">
  <h4><strong>General Questions</strong></h4>
  <div class="faqquationre"><strong>Q. What is RealTimeMoney?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> RealTimeMoney is a NBFC lending marketplace where willing Lenders can transact with pre-verified creditworthy Borrowers on short to medium term unsecured personal loans.
  </p>
  <div class="faqquationre"><strong>Q.Is RealTimeMoney regulated?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> RealTimeMoney, being a marketplace, does not come under the purview of the RBI.
  </p>
  <div class="faqquationre"><strong>Q. How can I become a member on RealTimeMoney?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> You may register on our website as an if you meet the eligibility criteria set by us. <a href="">Click here</a> to know the eligibility criteria.
  </p>
  <div class="faqquationre"><strong>Q. Why do I need to register at RealTimeMoney?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> To become either a Borrower or a Lender, one must register at RealTimeMoney. The registration process involves filling in a simple online application form. Post successful registration, a member can access the RealTimeMoney loan marketplace, and depending on whether the member is a Borrower or a Lender, the member may proceed to create and list a loan or may search for listed loans respectively.
  </p>
  <div class="faqquationre"><strong>Q. Is there any eligibility criteria to register at RealTimeMoney?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> A person should be a resident of India and above 21 years of age. The person should also have a valid bank account, a valid PAN number and a valid identity proof and residence proof.</p>
  <!--  <p class="faqansre text-justify"><span style="background-color: yellow;">To become a Lender, not more than 30% of his / her gross income should be derived from lending to individual Borrowers.</span></p>
        <p  class="faqansre text-justify"><span style="background-color: yellow;" >To become a Borrower, the person should have gross income of at least 3 lakhs per annum.</span></p> -->
  <div class="faqquationre"><strong>Q.Are there any registration charges to sign up on RealTimeMoney?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span> Registration Fee to be paid during one time Borrower registration is: Rs.1500/- No Registration Fee is required from Lenders.
  </p>
  <div class="faqquationre"><strong>Q.Why is phone verification necessary?</strong></div>
  <p class="faqansre text-justify">
      <span>A.</span>To be sure that a person has entered the correct contact information, RealTimeMoney will verify the phone number provided by the person during registration. This will help us to serve our members in a more timely and efficient manner. Please note that user details will remain confidential as per the RealTimeMoney Terms & Conditions.
  </p>
</div>
