#itemsperpagemargin {
    float: right;
    margin-top: 10px;
}

.adminsearchbox1 {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 8px;
    background: whitesmoke;
    color: brown;
    /*DarshanST*/
    text-align: center;
}

.adminsearchbox1:focus {
    /*DarshanST*/
    width: 60%;
    background: white;
}
#itemperpagestyle {
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    background: white;
    padding: 10px;
    font-weight: bold;
}



#loanTableStyle {
    border: none;
    margin-left: 0px;
    margin-top: 10px;
    width: 100%;
}

#mytableborder {
    height: 145px;
    -webkit-box-shadow: 0px 10px 14px -7px #ddd;
}
#myloanhead {
    background: beige;
    color: #333333;
}
.tableTextCenter th {
    text-align: center;
}

.tableTextCenter td {
    text-align: center;
}

#myduesbody {
    background: whitesmoke;
    color: black;
}
.viewdetailsbutton {
    border-radius: 60px;
    background-color: sienna;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    /* padding: 28px; */
    width: 109px;
    /* transition: all 0.5s; */
    cursor: pointer;
    /* margin: 4px; */
    margin-top: 2px;
    height: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    -webkit-box-shadow: 0px 10px 14px -7px #333;
    background: rgb(49, 112, 143);
    -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
}

.viewdetailsbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.viewdetailsbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.viewdetailsbutton:hover span {
  padding-right: 25px;
}

.viewdetailsbutton:hover span:after {
  opacity: 1;
  right: 0;
}

#marginXedit {
    margin-top: 10px;
    margin-bottom: 20px;
}

.myButtonadd {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99', GradientType=0);
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 22px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.myButtonadd:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3', GradientType=0);
    background-color: #408c99;
}

.myButtonadd:active {
    position: relative;
    top: 1px;
}

#customSave {
    margin-bottom: 10px;
    width: 87%;
    text-indent: -3px;
}
.myButtoncancel {
    -moz-box-shadow: 0px 10px 14px -7px #030000;
    -webkit-box-shadow: 0px 10px 14px -7px #030000;
    box-shadow: 0px 10px 14px -7px #030000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f5052d), color-stop(1, #de3e3e));
    background: -moz-linear-gradient(top, #f5052d 5%, #de3e3e 100%);
    background: -webkit-linear-gradient(top, #f5052d 5%, #de3e3e 100%);
    background: -o-linear-gradient(top, #f5052d 5%, #de3e3e 100%);
    background: -ms-linear-gradient(top, #f5052d 5%, #de3e3e 100%);
    background: linear-gradient(to bottom, #f5052d 5%, #de3e3e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f5052d', endColorstr='#de3e3e', GradientType=0);
    background-color: #f5052d;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 0px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 7px 21px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #000000;
}

.myButtoncancel:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #de3e3e), color-stop(1, #f5052d));
    background: -moz-linear-gradient(top, #de3e3e 5%, #f5052d 100%);
    background: -webkit-linear-gradient(top, #de3e3e 5%, #f5052d 100%);
    background: -o-linear-gradient(top, #de3e3e 5%, #f5052d 100%);
    background: -ms-linear-gradient(top, #de3e3e 5%, #f5052d 100%);
    background: linear-gradient(to bottom, #de3e3e 5%, #f5052d 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    background-color: #de3e3e;
    color: white;
}

.myButtoncancel:active {
    position: relative;
    top: 1px;
}
#customCancel {
    width: 89%;
    text-indent: -6px;
}

#spanmessage {
    font-size: 20px;
    color: red;
}

.fade {
        opacity: 1;

    }
#placecloseicon {
        float: right;
    font-size: 22px;
}
#placecloseicon:hover{
    color: whitesmoke;

}

#loandetpopuphead {
    text-align: center;
    color: white;
    font-weight: bold;
    font-style: oblique;
}

#recordsmodalfooter {
    background: whitesmoke;
}


















@media only screen and (min-width:320px) and (max-width: 767px) {
    #adminMobileMenu {
        list-style: none;
        text-align: center;
        margin-top: 20px;
    }
    .adminsearchbox1{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 10px;
    margin-top: 23px;
    background: whitesmoke;
    color: brown;
}

#visitedborr {
    font-size: 27px;
    margin-left: 61px;
    font-style: oblique;
    font-weight: bolder;
    color: brown;
}

#customSave {
    padding-left: 16px;
    width: 63px;
    margin-top: 0px;
    font-size: 13px;
    }

#customCancel {
    padding-left: 16px;
    width: 63px;
    margin-top: -11px;
    font-size: 13px;
    }









}
