<div class="contatiner-fluid">



    <h2 mat-dialog-title class="sucessreg" style="height: 53px;
  
    padding: 10px;">Success!</h2>
    <mat-dialog-content>
        <p style="text-align: center;
        color: black;
        font-size: 20px;position: absolute;margin-top:18px;">You have successfully registered with FINCHAIN</p>
       
    </mat-dialog-content>
    <div class="wrapper">
            <button mat-raised-button color="primary" class="button" (click)="Successregisteration()" matDialogClose>OK</button>
        
    </div>
</div>





