<div class="contatiner-fluid">
    
    <h2 mat-dialog-title class="sucessreg" style="background-color: #3379b6; height: 53px; padding: 10px;
    color: white; text-align: center;margin: -24px -24px 22px -24px;">Congratulations</h2>
    <mat-dialog-content><p id="messagestyle" style="text-align: center;
        color: black;
        font-size: 20px;">You have successfully registered with FINCHAIN </p></mat-dialog-content>
    <mat-dialog-actions>
        <div class="userActionButtonGroup text-center">
            <button mat-button mat-dialog-close style="
            border: 1px solid #3f51b5;
            width: 83px;
            margin-left: 174px;
            color: white;
            background-color: #3379b6;
            margin-top: 26px;
        ">Ok</button>
        </div>
    
    </mat-dialog-actions>
    
    </div>