<br>
<br>
<div class="footerss1" style="background-color:black;">

    <div class="footers1">


        <div class="column1">
            <br>
            <br>
            <img alt="logo" src="assets/images/logo1.jpg" class="img-responsive img-circle" id="imaget">
        </div>





        <div class="column2">
            <h3 id="contacs">Quick Links</h3>
            <p class="legal"><a style="color:white;" routerLink="/home">Home</a></p>
            <p class="legal"><a style="color:white;" routerLink="/Aboutus">About Us</a></p>
            <p class="legal"><a style="color:white;" routerLink="/how-it-works">Process</a></p>
            <p class="legal"><a style="color:white;" routerLink="/advantages">Advantages</a></p>
            <p class="legal"><a style="color:white;" routerLink="/contactus">Contact Us</a></p>

        </div>





        <div class="column3">

                <h3 class="legal">Legal</h3>
                <p class="legal">Terms of Use</p>
                <p class="legal">Privacy Policy</p>
        </div>




        <div class="column4">

            <h3 class="legal">Contact Us</h3>
            <p class="legal"># 28/1, 15th Main, 1st Cross, next to SBI,</p> 
            <p class="legal">Sahakar Nagar Bengaluru, Karnataka - 560092</p>


        </div>





     <!--    <div class="column5">

            <h3 class="FOLLOWUS">FOLLOW US</h3>
        </div>





        <div class="column6">

            <h3 class="findus">FIND US</h3>
        </div> -->



    </div>


    <p class="copyright">Copyright © Phinchain Technologies Private Limited 2019 - All rights reserved</p>

    <br>
</div>













<br>
<br>



















<footer id="hide">

    <div class="rtmindex hidden-xs fotet">
        <div class="col-sm-12 col-md-12 rtmfooter" style="background-color: #07131c;
      margin-top:1px;" id="rtmfooterid">
            <div class=" col-sm-12  col-md-12" style="margin-top: 20px;">
                <div class=" col-sm-2 col-md-2">
                    <div class="organisations2">
                        <h1>
                            <a class="navbar-brand" routerLink="/home"><img alt="logo" src="assets/images/logo1.jpg"
                                    class="img-responsive img-circle"></a>

                        </h1>

                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="footercontactus">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a routerLink="/home">Home</a></li>
                            <li><a routerLink="/Aboutus">About Us</a></li>
                            <li><a routerLink="/how-it-works">Process</a></li>
                            <li><a routerLink="/advantages">Advantages</a></li>
                            <li><a routerLink="/contactus">Contact Us</a></li>
                            <li><a routerLink="/mediaroom">Media Room</a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-sm-3 col-md-3">
                    <div class="footerhelp">
                        <h3 style="margin-left:-11px;">Legal</h3>
                        <ul>
                            <li><a routerLink="/termscondition">Terms of Use</a></li>
                            <li><a routerLink="/privacysecuritypolicy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                        <div class="footercontactus">
                            <h3>Contact Us</h3>
                            <!-- <ul class="footer-nav footer-nav-responsive"> -->
                                <p>Phinchain Technologies <br># 28/1, 15th Main, 1st Cross, next to SBI, Sahakar Nagar Bengaluru, Karnataka - 560092</p>
                            <!-- </ul> -->
                        </div>
                    </div>
            <!--     <div class="col-sm-2 col-md-2">
                    <div class="socialnetworks">
                        <h3 style="margin-left:42px;">FOLLOW US</h3>
                        <ul>
                            <li>
                                <a href="" target="_blank">
                                    <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 22.2 18" width="22px"
                                        height="18px" class="svg-twitter">
                                        <path
                                            d="M22.2 2.1c-.8.4-1.7.6-2.6.7.9-.6 1.7-1.4 2-2.5-.9.5-1.9.9-2.9 1.1-.8-.9-2-1.4-3.3-1.4-2.5 0-4.5 2-4.5 4.5 0 .4.1.7.1 1-3.8-.2-7.1-2-9.3-4.8-.5.8-.7 1.6-.7 2.4 0 1.6.9 3 2.1 3.8-.7 0-1.8-.2-1.8-.6v.1c0 2.2 1.3 4 3.4 4.5-.4.1-1 .2-1.4.2-.3 0-.6 0-.9-.1.6 1.8 2.3 3.1 4.2 3.2C5.2 15.3 3.2 16 1.1 16H0c2 1.3 4.4 2 7 2 8.4 0 12.9-6.9 12.9-12.9v-.6c.9-.7 1.6-1.5 2.3-2.4z">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 9.3 18" width="9px"
                                        height="18px" class="svg-facebook">
                                        <path
                                            d="M7.6 3h1.7V.1C9.1.1 8 0 6.9 0 4.4 0 2.8 1.5 2.8 4.2v2.4H0v3.2h2.8V18h3.3V9.8h2.7l.4-3.2H6.1v-2c0-1 .2-1.6 1.5-1.6z">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href=" https://www.linkedin.com/company-beta/13282345" target="_blank">
                                    <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 18.8 18" width="19px"
                                        height="18px" class="svg-linkedin">
                                        <path
                                            d="M14.2 5.6c-2.2 0-3.1 1.2-3.6 2V5.8h-4V18h4v-6.8c0-.4 0-.7.1-1 .3-.7 1-1.5 2.1-1.5 1.5 0 2 1.1 2 2.7V18h4v-7c0-3.7-2-5.4-4.6-5.4zm-14 .2h4V18h-4zM2.3 0C.9 0 0 .9 0 2.1c0 1.2.9 2.1 2.2 2.1 1.4 0 2.3-.9 2.3-2.1C4.5.9 3.7 0 2.3 0z">
                                        </path>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UCU48dX7jkVbata-RYhg1sxw" target="_blank">
                                    <svg fill="#ffff" height="18px" viewBox="0 0 24 24" width="19px"
                                        xmlns="https://www.w3.org/2000/svg">
                                        <path
                                            d="M10,16.5V7.5L16,12M20,4.4C19.4,4.2 15.7,4 12,4C8.3,4 4.6,4.19 4,4.38C2.44,4.9 2,8.4 2,12C2,15.59 2.44,19.1 4,19.61C4.6,19.81 8.3,20 12,20C15.7,20 19.4,19.81 20,19.61C21.56,19.1 22,15.59 22,12C22,8.4 21.56,4.91 20,4.4Z" />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> -->
               <!--  <div class="col-sm-2 col-md-2 text-center playstore1">
                    <h3>FIND US</h3>
                    <div class="playstore">
                        <a href="https://play.google.com/store/apps/details?id=co.rtm&hl=en" target="_blank"><img src="assets/images/google-play-badge.png"></a>
                    </div>
                </div> -->
            </div>
            <div class="col-sm-12 col-md-12 disclimer">

                <p style="font-size: 15px;text-align: center;"> Copyright &#169; Phinchain Technologies Private Limited 2019 - All rights reserved</p>
            </div>
            <div class="text-right">
                <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
                <span id="siteseal">
                    <script async type="text/javascript"
                        src="https://seal.godaddy.com/getSeal?sealID=skimt6gh6lJpKJVqkXoXAnT8MQq2ydxZzRJEWBAK14Hoi8C2ExF9dtEYaMeZ"></script>
                    </span>
            </div>
        </div>
    </div>
</footer>