
<div class="howitworks">
  <div class="faqquationre" style="margin-top: 20px;"><strong>Q. What are the fees and charges imposed by RealTimeMoney?</strong>
  </div>
  <p class="faqansre text-justify">
      <span>A.</span> You may refer to the table below to understand the various scenario-dependent fees applicable.
  </p>
  <table class="faqtable3">
      <tr>
          <th rowspan="1" colspan="3" class="faqtable1">Processing Fees
              <br>
              <br> </th>
          <th colspan="4" class="text-center" class="faqtable1">Duration(months)
              <br>
              <br>
          </th>
      </tr>
      <tr>
          <td style="background-color: blue"></td>
          <td style="background-color: blue;color: white;">from</td>
          <td style="background-color: blue;color: white;">to</td>
          <td>
              <6</td>
                  <td>6-12</td>
                  <td>12-24</td>
                  <td>24-36</td>
      </tr>
      <tr>
          <th rowspan="5" class="faqloanamount"><span>Loan Amount(&#8377;)</span> </th>
          <td>30,000</td>
          <td>50,000</td>
          <td>1500</td>
          <td>1500</td>
          <td>1500</td>
          <td>1500</td>
      </tr>
      <tr>
          <td>50,001</td>
          <td>10,00,000</td>
          <td>2%</td>
          <td>2%</td>
          <td>2%</td>
          <td>2%</td>
      </tr>
      <tr>
          <td>10,00,001</td>
          <td>50,00,000</td>
          <td>1.5%</td>
          <td>1.5%</td>
          <td>1.5%</td>
          <td>1.5%</td>
      </tr>
      <tr>
          <td>50,00,000</td>
          <td>1,00,00,000</td>
          <td>1%</td>
          <td>1%</td>
          <td>1%</td>
          <td>1%</td>
      </tr>
      <tr>
          <td colspan="2">&#62;1,00,00,000</td>
          <td>0.5%</td>
          <td>0.5%</td>
          <td>0.5%</td>
          <td>0.5%</td>
      </tr>
  </table>
</div>

